<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonVersusScope</key>
	<string>effectStructureOrientation</string>
	<key>geometricAllocatorFormat</key>
	<string>staticManagerVelocity</string>
	<key>requestAboutLevel</key>
	<string>cubitNumberMargin</string>
	<key>unaryFunctionVisible</key>
	<string>oldEffectRight</string>
	<key>visibleSpriteStatus</key>
	<string>opaqueZoneVelocity</string>
</dict>
</plist>
