<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionScrollVisibility</key>
	<string>cycleOperationLeft</string>
	<key>actionModeAppearance</key>
	<string>relationalReferenceType</string>
	<key>descriptionContainTier</key>
	<string>webTextSize</string>
	<key>disparateTransitionDirection</key>
	<string>gramThanParam</string>
	<key>handlerCommandOpacity</key>
	<string>publicKernelValidation</string>
	<key>interactorBridgeMomentum</key>
	<string>symbolContainStructure</string>
	<key>reducerInsideDecorator</key>
	<string>catalystMediatorHead</string>
	<key>respectiveSingletonForce</key>
	<string>unactivatedMusicTension</string>
	<key>similarPrecisionDistance</key>
	<string>methodInPhase</string>
</dict>
</plist>
