<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletActivityCount</key>
	<string>sceneContainTask</string>
	<key>futureBridgeDistance</key>
	<string>taskSingletonTag</string>
	<key>ignoredOptionStatus</key>
	<string>globalLocalizationForce</string>
	<key>mainUtilOrientation</key>
	<string>singletonCyclePosition</string>
	<key>numericalPopupState</key>
	<string>giftAroundPhase</string>
	<key>seamlessFeatureInterval</key>
	<string>parallelEntropyBorder</string>
	<key>subscriptionKindAcceleration</key>
	<string>seamlessCurveMargin</string>
	<key>utilScopeCenter</key>
	<string>convolutionTypeCenter</string>
	<key>variantThroughObserver</key>
	<string>resourceStageOffset</string>
</dict>
</plist>
