<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetSinceState</key>
	<string>oldLayerPressure</string>
	<key>invisibleShaderVelocity</key>
	<string>positionedInEnvironment</string>
	<key>listenerVersusValue</key>
	<string>lostResponseCenter</string>
	<key>scrollablePopupTag</key>
	<string>deferredSymbolType</string>
	<key>skirtBeyondMode</key>
	<string>layerOutsideTask</string>
	<key>stampDecoratorBorder</key>
	<string>consumerBeyondActivity</string>
	<key>subpixelViaSystem</key>
	<string>tabviewAtOperation</string>
	<key>switchTypeKind</key>
	<string>independentIsolateForce</string>
</dict>
</plist>
