<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitAndLayer</key>
	<string>gateAsFlyweight</string>
	<key>granularRouteStatus</key>
	<string>awaitBridgeType</string>
	<key>numericalChecklistHue</key>
	<string>persistentSinkName</string>
	<key>resourceActivityFrequency</key>
	<string>streamAndPlatform</string>
</dict>
</plist>
