<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncNumberAlignment</key>
	<string>persistentGetxCount</string>
	<key>delicateSceneSpacing</key>
	<string>numericalGetxTail</string>
	<key>descriptorThanActivity</key>
	<string>referenceObserverSize</string>
	<key>expandedContainObserver</key>
	<string>commonSkinOpacity</string>
	<key>granularParticleStatus</key>
	<string>dimensionParamTint</string>
	<key>histogramExceptCommand</key>
	<string>decorationStageValidation</string>
	<key>scrollFromObserver</key>
	<string>textAlongFunction</string>
	<key>unsortedCursorSpeed</key>
	<string>dropdownbuttonAsKind</string>
</dict>
</plist>
