<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeFutureShape</key>
	<string>unactivatedInkwellOrientation</string>
	<key>immediateDelegateSize</key>
	<string>sortedUnaryFlags</string>
	<key>profileScopeContrast</key>
	<string>eventOutsideFacade</string>
	<key>radioOfMode</key>
	<string>extensionCommandStyle</string>
	<key>sequentialCoordinatorRotation</key>
	<string>optimizerPerTier</string>
	<key>sharedCanvasTop</key>
	<string>desktopNotificationSpacing</string>
	<key>stepActionOpacity</key>
	<string>euclideanResponseBound</string>
</dict>
</plist>
