<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWorkFrequency</key>
	<string>labelIncludeObserver</string>
	<key>gateIncludeJob</key>
	<string>subtleResourceCenter</string>
	<key>interfaceVisitorInset</key>
	<string>ternaryInJob</string>
	<key>numericalHashStatus</key>
	<string>greatIntensityPadding</string>
	<key>substantialLayoutHead</key>
	<string>progressbarAboutCommand</string>
	<key>tensorBinaryFormat</key>
	<string>sizedboxParamBorder</string>
	<key>textPatternOrigin</key>
	<string>easyCaptionSaturation</string>
</dict>
</plist>
