<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertValueFrequency</key>
	<string>durationBridgeContrast</string>
	<key>challengeAsObserver</key>
	<string>skirtTempleDuration</string>
	<key>entityLevelTag</key>
	<string>popupByContext</string>
	<key>equalizationInterpreterStyle</key>
	<string>transitionMementoDelay</string>
	<key>flexAroundTier</key>
	<string>cycleStageFlags</string>
	<key>newestNodeOffset</key>
	<string>protectedAlphaVisible</string>
	<key>roleWithStrategy</key>
	<string>reducerParamType</string>
	<key>specifierDecoratorMode</key>
	<string>mobileTitleOrientation</string>
	<key>specifierDuringPattern</key>
	<string>channelMementoVisibility</string>
</dict>
</plist>
