<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureSystemForce</key>
	<string>pointThanStrategy</string>
	<key>blocAgainstBuffer</key>
	<string>basicCubitScale</string>
	<key>cubitViaShape</key>
	<string>adaptiveMovementHead</string>
	<key>hyperbolicIntensityColor</key>
	<string>materialActivityShade</string>
	<key>interactorAwayTask</key>
	<string>spotLayerHead</string>
	<key>isolateInInterpreter</key>
	<string>layoutPhaseScale</string>
	<key>scaleBridgeType</key>
	<string>directlyPetStyle</string>
	<key>specifierInAdapter</key>
	<string>iconThroughMemento</string>
</dict>
</plist>
