<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateTernaryForce</key>
	<string>dependencyPhaseVisible</string>
	<key>globalTopicLocation</key>
	<string>painterThanPrototype</string>
	<key>gridPlatformCoord</key>
	<string>statefulVectorFeedback</string>
	<key>iterativeStoryboardBottom</key>
	<string>symbolOfAdapter</string>
	<key>labelObserverEdge</key>
	<string>effectFacadeFormat</string>
	<key>materialAnchorFrequency</key>
	<string>granularInterfaceTransparency</string>
	<key>scaleStyleTransparency</key>
	<string>textfieldTempleTransparency</string>
	<key>segueLevelRotation</key>
	<string>menuStageAppearance</string>
	<key>sinePrototypeSize</key>
	<string>fragmentBesideForm</string>
	<key>sliderFromFramework</key>
	<string>seamlessExceptionMomentum</string>
</dict>
</plist>
