<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackMediatorPosition</key>
	<string>certificateVersusBuffer</string>
	<key>customMenuTop</key>
	<string>dependencyLikeMode</string>
	<key>delicateTitleLeft</key>
	<string>relationalHeapTension</string>
	<key>descriptionTempleVelocity</key>
	<string>rectAwayParameter</string>
	<key>hyperbolicVectorOrigin</key>
	<string>metadataAtFramework</string>
	<key>labelNumberLeft</key>
	<string>monsterFacadeScale</string>
	<key>sharedEqualizationOffset</key>
	<string>exceptionTierRight</string>
</dict>
</plist>
