<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentAtBuffer</key>
	<string>listenerInMode</string>
	<key>durationInterpreterState</key>
	<string>permanentInstructionAcceleration</string>
	<key>injectionOutsideAdapter</key>
	<string>collectionStateInteraction</string>
	<key>lastCustompaintAppearance</key>
	<string>fusedChannelsSkewx</string>
	<key>secondBitratePosition</key>
	<string>topicOrMediator</string>
	<key>specifyLayoutDepth</key>
	<string>prevTaskBrightness</string>
</dict>
</plist>
