<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioInsideTemple</key>
	<string>keyViewShape</string>
	<key>bitrateOfStyle</key>
	<string>capsuleAroundSystem</string>
	<key>composableServiceDirection</key>
	<string>geometricBlocCenter</string>
	<key>effectDespiteVariable</key>
	<string>visiblePriorityCoord</string>
	<key>pointTypeFeedback</key>
	<string>serviceAsPrototype</string>
	<key>uniqueErrorInterval</key>
	<string>tensorPlateTag</string>
	<key>visiblePointCenter</key>
	<string>elasticResourceSpacing</string>
</dict>
</plist>
