<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxPhaseIndex</key>
	<string>threadChainFormat</string>
	<key>descriptionBeyondFramework</key>
	<string>effectAsProcess</string>
	<key>lazyAnimationStatus</key>
	<string>kernelInsideObserver</string>
	<key>masterAsKind</key>
	<string>staticCapsuleForce</string>
	<key>modulusPlatformDepth</key>
	<string>rowStagePressure</string>
	<key>prismaticCacheRight</key>
	<string>apertureOfPattern</string>
	<key>sliderUntilMemento</key>
	<string>rectInsideForm</string>
</dict>
</plist>
