<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityWithMemento</key>
	<string>denseCurvePadding</string>
	<key>enabledBufferRate</key>
	<string>subtleUtilOffset</string>
	<key>errorCompositeForce</key>
	<string>advancedTransitionOffset</string>
	<key>graphBridgeIndex</key>
	<string>assetActionFeedback</string>
	<key>managerBesideJob</key>
	<string>backwardViewDirection</string>
	<key>queueFrameworkDensity</key>
	<string>reactiveErrorMargin</string>
	<key>sophisticatedAxisOrigin</key>
	<string>intensityOfProcess</string>
	<key>stackFrameworkDensity</key>
	<string>concurrentUnaryOrigin</string>
</dict>
</plist>
