<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardResponseFlags</key>
	<string>methodAtPrototype</string>
	<key>custompaintMementoBound</key>
	<string>lastDurationColor</string>
	<key>difficultMobxKind</key>
	<string>hardChannelsType</string>
	<key>factoryPlatformStyle</key>
	<string>errorPlatformTheme</string>
	<key>hashMediatorScale</key>
	<string>explicitMultiplicationSaturation</string>
	<key>keyChannelsBrightness</key>
	<string>materialContainJob</string>
	<key>lazyStoryboardPressure</key>
	<string>controllerValueTag</string>
	<key>requestIncludePrototype</key>
	<string>sinkAmongPattern</string>
	<key>sinkExceptProcess</key>
	<string>visibleFeatureFlags</string>
</dict>
</plist>
