<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleTaskAlignment</key>
	<string>reductionStageName</string>
	<key>cubitBesideStage</key>
	<string>fusedRequestBound</string>
	<key>gridIncludeParameter</key>
	<string>equalizationProcessEdge</string>
	<key>iconUntilStage</key>
	<string>navigatorAlongOperation</string>
	<key>invisibleGesturedetectorTransparency</key>
	<string>durationPhaseSkewx</string>
	<key>relationalFrameCenter</key>
	<string>awaitSinceParameter</string>
	<key>reusableChapterSize</key>
	<string>previewPerKind</string>
	<key>tangentScopeBound</key>
	<string>menuAmongStyle</string>
	<key>tangentVersusProxy</key>
	<string>similarAssetScale</string>
	<key>unaryWithTier</key>
	<string>subsequentTableTension</string>
</dict>
</plist>
