<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAboutContext</key>
	<string>reducerByMemento</string>
	<key>descriptionInterpreterFrequency</key>
	<string>animatedcontainerFormDistance</string>
	<key>directlyQueryEdge</key>
	<string>drawerMementoAcceleration</string>
	<key>frameFlyweightSpacing</key>
	<string>subscriptionOutsideShape</string>
	<key>mainResultSkewx</key>
	<string>nodeContextScale</string>
	<key>materialGridFeedback</key>
	<string>unactivatedMusicSaturation</string>
	<key>richtextAwayBridge</key>
	<string>aspectratioDespitePattern</string>
	<key>skirtDuringSystem</key>
	<string>layoutPrototypeTail</string>
	<key>tabbarContextFrequency</key>
	<string>monsterInVariable</string>
</dict>
</plist>
