<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveGraphOpacity</key>
	<string>nextConfigurationDuration</string>
	<key>nativeRouteOrigin</key>
	<string>tabbarAsFramework</string>
	<key>persistentAnimationName</key>
	<string>characterStructureType</string>
	<key>sceneLikePattern</key>
	<string>advancedChartCount</string>
</dict>
</plist>
