<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePaddingOrigin</key>
	<string>layoutJobSaturation</string>
	<key>checklistBufferDepth</key>
	<string>reductionPrototypeCoord</string>
	<key>gateBeyondStructure</key>
	<string>hardWidgetTension</string>
	<key>navigatorLevelPadding</key>
	<string>opaqueQueryRight</string>
	<key>pivotalRouteHue</key>
	<string>entityInsideLayer</string>
	<key>positionedOutsidePhase</key>
	<string>bufferByVariable</string>
	<key>responsiveDependencyLeft</key>
	<string>geometricGridRight</string>
	<key>sliderInsideTask</key>
	<string>intensityChainShape</string>
</dict>
</plist>
