<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetUntilStrategy</key>
	<string>nibMementoMargin</string>
	<key>basicCubitBound</key>
	<string>modalAroundWork</string>
	<key>bufferInBridge</key>
	<string>rectTaskState</string>
	<key>consultativeEntityVelocity</key>
	<string>protectedBlocType</string>
	<key>descriptionFormShade</key>
	<string>backwardBatchVelocity</string>
	<key>elasticControllerVisible</key>
	<string>dependencyStrategyDelay</string>
	<key>gradientSingletonTransparency</key>
	<string>topicAtMediator</string>
	<key>tappableButtonTint</key>
	<string>backwardPositionRotation</string>
	<key>textUntilSingleton</key>
	<string>gestureAmongStrategy</string>
</dict>
</plist>
