<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitUntilProxy</key>
	<string>immutableDurationLeft</string>
	<key>commonGridviewInterval</key>
	<string>multiSingletonType</string>
	<key>listenerBesideBridge</key>
	<string>mediaStructureMomentum</string>
	<key>remainderAndSingleton</key>
	<string>aspectIncludeMethod</string>
	<key>singletonInProcess</key>
	<string>usecaseSystemVisibility</string>
</dict>
</plist>
