<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoFlexPadding</key>
	<string>symbolFromAdapter</string>
	<key>behaviorNumberSaturation</key>
	<string>signatureThroughTier</string>
	<key>chartBridgeOpacity</key>
	<string>secondColumnTail</string>
	<key>fusedTernaryEdge</key>
	<string>progressbarAndFunction</string>
	<key>hierarchicalPageviewSkewy</key>
	<string>diffableViewShade</string>
	<key>matrixPrototypeOpacity</key>
	<string>spriteBridgeMargin</string>
	<key>rowAwayPhase</key>
	<string>dynamicTouchRight</string>
	<key>stackAndCycle</key>
	<string>temporaryTransformerOpacity</string>
</dict>
</plist>
