<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarPrototypeVisible</key>
	<string>navigatorPerCycle</string>
	<key>containerPerBuffer</key>
	<string>advancedLossSize</string>
	<key>curveFacadeName</key>
	<string>checkboxFunctionPadding</string>
	<key>delegateStructureCount</key>
	<string>methodEnvironmentOpacity</string>
	<key>euclideanAlignmentRotation</key>
	<string>transformerWithActivity</string>
	<key>iconInsideFlyweight</key>
	<string>requiredCacheSkewy</string>
	<key>inactiveManagerOpacity</key>
	<string>decorationProxyAppearance</string>
	<key>mediocreBitrateMode</key>
	<string>scrollShapeOrigin</string>
	<key>radiusNearVar</key>
	<string>temporaryRichtextVelocity</string>
	<key>scaffoldAgainstTask</key>
	<string>bitratePrototypeShape</string>
</dict>
</plist>
