<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxIncludeAction</key>
	<string>menuLevelName</string>
	<key>durationAwayAdapter</key>
	<string>missedThemeScale</string>
	<key>globalEntropyTail</key>
	<string>futureTierPressure</string>
	<key>interactorNearWork</key>
	<string>modelPerComposite</string>
	<key>providerBufferShape</key>
	<string>canvasNumberLeft</string>
	<key>viewFormBottom</key>
	<string>symmetricBaseTransparency</string>
</dict>
</plist>
