<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureInsideLevel</key>
	<string>loopOrFramework</string>
	<key>arithmeticContainActivity</key>
	<string>unaryPatternSkewx</string>
	<key>blocByScope</key>
	<string>easyTweenVelocity</string>
	<key>descriptionTierHue</key>
	<string>numericalPreviewCount</string>
	<key>materialTierSaturation</key>
	<string>animationDespiteMode</string>
	<key>parallelAlertBrightness</key>
	<string>entropySinceJob</string>
	<key>queueNumberResponse</key>
	<string>contractionStateTheme</string>
</dict>
</plist>
