<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateDespiteStyle</key>
	<string>retainedChartVisibility</string>
	<key>convolutionOrFlyweight</key>
	<string>advancedImageSize</string>
	<key>cupertinoSpriteName</key>
	<string>controllerOperationInset</string>
	<key>descriptionWorkTail</key>
	<string>activeOptionSize</string>
	<key>drawerBeyondScope</key>
	<string>eventBridgeFormat</string>
	<key>navigatorAsJob</key>
	<string>expandedPhaseInterval</string>
	<key>rowOrState</key>
	<string>webResourceContrast</string>
</dict>
</plist>
