<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveAppbarRate</key>
	<string>queueVisitorResponse</string>
	<key>comprehensiveSizeScale</key>
	<string>respectiveAlignmentDirection</string>
	<key>durationThanAdapter</key>
	<string>bitrateWorkDensity</string>
	<key>granularRectScale</key>
	<string>unaryVisitorRotation</string>
	<key>logarithmPhaseInteraction</key>
	<string>toolContextTag</string>
	<key>rowPerShape</key>
	<string>lostStorageVisible</string>
	<key>tabbarStyleDensity</key>
	<string>activatedAnimationInset</string>
</dict>
</plist>
