<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorInsideValue</key>
	<string>movementStrategyOffset</string>
	<key>constTabviewAlignment</key>
	<string>relationalStateContrast</string>
	<key>eagerAllocatorAlignment</key>
	<string>repositoryThanContext</string>
	<key>groupBeyondStage</key>
	<string>standaloneGemTheme</string>
	<key>movementChainOrigin</key>
	<string>enabledVariantRotation</string>
	<key>statelessSessionOrigin</key>
	<string>metadataStateSize</string>
	<key>synchronousCompleterMomentum</key>
	<string>blocSinceKind</string>
</dict>
</plist>
