<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowFromFlyweight</key>
	<string>precisionThanContext</string>
	<key>cellDespiteJob</key>
	<string>factoryActivityRate</string>
	<key>delegatePhaseFeedback</key>
	<string>commandWithoutCycle</string>
	<key>functionalCaptionBorder</key>
	<string>dedicatedLocalizationAlignment</string>
	<key>iterativeUsecaseSpacing</key>
	<string>subsequentCardShape</string>
	<key>keyCapsuleInteraction</key>
	<string>singletonVersusShape</string>
	<key>keyParticleDensity</key>
	<string>segueAtParameter</string>
	<key>mediumMasterVisible</key>
	<string>entityFormKind</string>
	<key>prevTickerTop</key>
	<string>descriptionStyleInset</string>
	<key>uniformChannelsDirection</key>
	<string>binaryNearScope</string>
</dict>
</plist>
