<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAwayLayer</key>
	<string>adaptiveAsyncVelocity</string>
	<key>errorStageValidation</key>
	<string>keyStoreDirection</string>
	<key>intuitiveFutureAppearance</key>
	<string>loopCommandVisible</string>
	<key>protocolNumberMomentum</key>
	<string>scrollOfMemento</string>
	<key>providerContextPadding</key>
	<string>statefulModalVelocity</string>
	<key>repositoryOutsideParameter</key>
	<string>resourceOrStage</string>
	<key>stateMethodTransparency</key>
	<string>delicateSpriteRate</string>
</dict>
</plist>
