<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorInForm</key>
	<string>listenerThroughFramework</string>
	<key>alphaValueValidation</key>
	<string>cardNearContext</string>
	<key>asyncTempleOrientation</key>
	<string>frameVariableOffset</string>
	<key>dialogsOperationBound</key>
	<string>navigatorTaskSaturation</string>
	<key>dynamicSpotTransparency</key>
	<string>lostInjectionBound</string>
	<key>inheritedOverlayAppearance</key>
	<string>draggableServiceForce</string>
	<key>positionInCycle</key>
	<string>eagerBlocTint</string>
	<key>prismaticManagerFrequency</key>
	<string>stateFunctionVisibility</string>
	<key>widgetAwaySingleton</key>
	<string>positionedAsFramework</string>
</dict>
</plist>
