<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentMementoInteraction</key>
	<string>matrixByCycle</string>
	<key>axisAndAdapter</key>
	<string>hierarchicalTickerSaturation</string>
	<key>chapterStageDepth</key>
	<string>grainActivityTension</string>
	<key>deferredRouterPosition</key>
	<string>opaqueBaseDepth</string>
	<key>localLocalizationAppearance</key>
	<string>pageviewAmongStyle</string>
	<key>modelAsObserver</key>
	<string>nextContainerTop</string>
	<key>themeBridgeTail</key>
	<string>disparateRadiusMode</string>
	<key>usageContextTension</key>
	<string>decorationNumberFlags</string>
</dict>
</plist>
