<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonDescriptorHead</key>
	<string>uniformScreenAppearance</string>
	<key>ephemeralCanvasPadding</key>
	<string>repositoryTypeHead</string>
	<key>logCycleEdge</key>
	<string>swiftWorkIndex</string>
	<key>sophisticatedLayoutRight</key>
	<string>gridviewAwayStructure</string>
	<key>threadDespiteScope</key>
	<string>toolStyleRight</string>
</dict>
</plist>
