<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalRadioBehavior</key>
	<string>priorTextOrientation</string>
	<key>declarativeGraphicInset</key>
	<string>multiplicationActivityAcceleration</string>
	<key>desktopContainerMargin</key>
	<string>directConstraintLocation</string>
	<key>grayscaleIncludeStage</key>
	<string>consultativeBorderSpacing</string>
	<key>prevResultSpeed</key>
	<string>widgetAroundSingleton</string>
	<key>prismaticSkinOpacity</key>
	<string>asynchronousAspectratioSpacing</string>
</dict>
</plist>
