<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSignCenter</key>
	<string>otherHandlerLocation</string>
	<key>channelContainWork</key>
	<string>standaloneBoxshadowCount</string>
	<key>layoutOperationDistance</key>
	<string>sizedboxThroughParam</string>
	<key>listviewOutsideProcess</key>
	<string>rectLevelInset</string>
	<key>monsterAdapterResponse</key>
	<string>particleFunctionOrientation</string>
	<key>offsetInsideParam</key>
	<string>transitionJobBottom</string>
	<key>serviceActivityPressure</key>
	<string>keyPainterBottom</string>
	<key>singletonPerJob</key>
	<string>swiftDuringAdapter</string>
	<key>uniformModelIndex</key>
	<string>futureAtTier</string>
</dict>
</plist>
