<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPrototypeAlignment</key>
	<string>euclideanIntensityPadding</string>
	<key>finalScrollPressure</key>
	<string>lastTechniqueColor</string>
	<key>interactorContextTail</key>
	<string>hierarchicalCycleMargin</string>
	<key>retainedNotifierAppearance</key>
	<string>seamlessErrorMomentum</string>
	<key>reusableSineLeft</key>
	<string>techniqueDecoratorContrast</string>
</dict>
</plist>
