<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorActivityColor</key>
	<string>alignmentBesideFlyweight</string>
	<key>enabledSessionAppearance</key>
	<string>durationScopeOpacity</string>
	<key>featureAsParameter</key>
	<string>reducerWorkDuration</string>
	<key>labelDuringParam</key>
	<string>positionParamRate</string>
	<key>mobileNavigatorSaturation</key>
	<string>delegateBeyondLevel</string>
	<key>parallelCallbackRotation</key>
	<string>builderBridgeOffset</string>
	<key>substantialStepSize</key>
	<string>scaleFunctionTag</string>
</dict>
</plist>
