<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityAroundStage</key>
	<string>configurationJobRotation</string>
	<key>numericalMomentumTheme</key>
	<string>binaryAroundLevel</string>
	<key>uniformIndicatorHead</key>
	<string>tableExceptDecorator</string>
	<key>usecasePatternScale</key>
	<string>positionBridgeShade</string>
</dict>
</plist>
