<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionLayerBrightness</key>
	<string>interfaceStyleOrientation</string>
	<key>curveMementoStyle</key>
	<string>dynamicBuilderRate</string>
	<key>eventSingletonShade</key>
	<string>hyperbolicTickerFeedback</string>
	<key>managerStyleHue</key>
	<string>staticSignatureDensity</string>
	<key>menuAsActivity</key>
	<string>prismaticTaskType</string>
	<key>queryBesideProxy</key>
	<string>managerPhaseDelay</string>
	<key>variantAboutTier</key>
	<string>resizableGroupHead</string>
</dict>
</plist>
