<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedDrawerBorder</key>
	<string>titleScopeColor</string>
	<key>blocEnvironmentSaturation</key>
	<string>granularBufferPadding</string>
	<key>dropdownbuttonInsideContext</key>
	<string>cosineOperationBorder</string>
	<key>momentumLikeMediator</key>
	<string>observerVisitorDistance</string>
	<key>operationAtMethod</key>
	<string>coordinatorVariableSpeed</string>
	<key>persistentBufferSpeed</key>
	<string>specifyPlateHue</string>
	<key>presenterJobDistance</key>
	<string>metadataStructureDensity</string>
	<key>spriteOfSystem</key>
	<string>statelessStampInteraction</string>
	<key>textCompositeOrigin</key>
	<string>imageSinceKind</string>
</dict>
</plist>
