<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOutsideBridge</key>
	<string>richtextAroundInterpreter</string>
	<key>assetThanPattern</key>
	<string>kernelFormMargin</string>
	<key>cubitStructureMode</key>
	<string>coordinatorTempleTag</string>
	<key>injectionThanMethod</key>
	<string>zoneStructureMode</string>
	<key>mediaqueryStageCoord</key>
	<string>animationFunctionDensity</string>
	<key>mediumRepositoryResponse</key>
	<string>normalSliderAppearance</string>
	<key>protectedCupertinoBorder</key>
	<string>movementLayerTension</string>
	<key>techniqueAndCommand</key>
	<string>builderStyleName</string>
	<key>threadTypeCenter</key>
	<string>multiTernarySaturation</string>
</dict>
</plist>
