<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchModeOrientation</key>
	<string>batchTypeDirection</string>
	<key>boxshadowMethodRotation</key>
	<string>cubitFrameworkKind</string>
	<key>bulletProxyAcceleration</key>
	<string>staticScrollSkewy</string>
	<key>grainAndState</key>
	<string>controllerVariableCoord</string>
	<key>navigatorModeRotation</key>
	<string>collectionForComposite</string>
	<key>originalBrushFrequency</key>
	<string>entropyAwayCommand</string>
	<key>priorityKindMode</key>
	<string>paddingSystemLeft</string>
	<key>queryAboutAction</key>
	<string>cubeAtType</string>
	<key>resilientPopupScale</key>
	<string>projectionNearPattern</string>
	<key>significantListviewSpacing</key>
	<string>queueFlyweightVisibility</string>
</dict>
</plist>
