<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFutureResponse</key>
	<string>movementTaskName</string>
	<key>appbarOperationScale</key>
	<string>queueStyleVisible</string>
	<key>consultativeCompleterOrigin</key>
	<string>diversifiedCatalystOrigin</string>
	<key>controllerWithoutPrototype</key>
	<string>cycleThanAdapter</string>
	<key>imperativeSubscriptionRotation</key>
	<string>textVarLocation</string>
	<key>isolateJobCount</key>
	<string>cupertinoResponseDepth</string>
	<key>presenterVariableRate</key>
	<string>buttonFlyweightAlignment</string>
	<key>specifyBlocAlignment</key>
	<string>durationLikeParameter</string>
	<key>variantForMemento</key>
	<string>dimensionUntilMode</string>
	<key>visibleExceptionRate</key>
	<string>indicatorActionSkewy</string>
</dict>
</plist>
