<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationFormPosition</key>
	<string>opaqueStatefulSize</string>
	<key>modalKindSkewy</key>
	<string>mediocreSignatureVisibility</string>
	<key>sliderOutsideAdapter</key>
	<string>criticalCurveTension</string>
	<key>specifyTransformerCoord</key>
	<string>storeMethodResponse</string>
	<key>statefulPriorityBorder</key>
	<string>crudeSineVelocity</string>
</dict>
</plist>
