<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectExceptProxy</key>
	<string>pageviewFrameworkDelay</string>
	<key>hashEnvironmentSaturation</key>
	<string>sinkAwayProcess</string>
	<key>radiusInsideVariable</key>
	<string>nodeCycleForce</string>
	<key>standaloneCharacterResponse</key>
	<string>sliderDuringComposite</string>
	<key>storageAwayScope</key>
	<string>callbackStrategyDensity</string>
</dict>
</plist>
