<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxTempleForce</key>
	<string>accessibleGroupScale</string>
	<key>contractionOperationSaturation</key>
	<string>movementLayerPosition</string>
	<key>firstFutureContrast</key>
	<string>statelessBufferAppearance</string>
	<key>getxWorkOrigin</key>
	<string>notificationMediatorBehavior</string>
	<key>intensityStateIndex</key>
	<string>cacheWithVisitor</string>
	<key>permanentParticleTop</key>
	<string>scrollableTextureShade</string>
	<key>skirtDespiteVariable</key>
	<string>subsequentSignBorder</string>
	<key>tabviewBeyondType</key>
	<string>uniformStateForce</string>
</dict>
</plist>
