<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheMethodInset</key>
	<string>metadataMethodTension</string>
	<key>capsuleAgainstTier</key>
	<string>sliderPatternPosition</string>
	<key>enabledLocalizationSkewy</key>
	<string>referenceMediatorSaturation</string>
	<key>riverpodThroughForm</key>
	<string>sortedWorkflowKind</string>
	<key>sensorUntilProxy</key>
	<string>sliderViaState</string>
	<key>tensorAssetColor</key>
	<string>specifyConstraintType</string>
</dict>
</plist>
