<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRouteTransparency</key>
	<string>coordinatorForStage</string>
	<key>asyncShaderInset</key>
	<string>notifierDespiteParam</string>
	<key>bitrateAroundStage</key>
	<string>listviewBeyondMemento</string>
	<key>difficultNavigatorTransparency</key>
	<string>bufferDecoratorRotation</string>
	<key>equipmentExceptShape</key>
	<string>directlyGateColor</string>
	<key>immutableRouteVelocity</key>
	<string>ignoredOptionAlignment</string>
	<key>navigatorStructureName</key>
	<string>animationPhaseColor</string>
	<key>plateDespiteSingleton</key>
	<string>chapterOutsideLevel</string>
	<key>richtextJobSkewx</key>
	<string>sequentialTableShade</string>
	<key>screenDespiteParam</key>
	<string>materialCursorTop</string>
</dict>
</plist>
