<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorPatternDensity</key>
	<string>scrollAboutState</string>
	<key>concreteStreamBrightness</key>
	<string>memberProxyDensity</string>
	<key>profileContextMode</key>
	<string>visibleStorageForce</string>
	<key>projectionThanFacade</key>
	<string>richtextCycleInset</string>
</dict>
</plist>
