<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameTempleSize</key>
	<string>ephemeralArithmeticLocation</string>
	<key>hardZonePressure</key>
	<string>drawerIncludeObserver</string>
	<key>imperativeStatefulCenter</key>
	<string>sampleNumberScale</string>
	<key>inactiveCubeRotation</key>
	<string>segmentPerParam</string>
	<key>multiConsumerAppearance</key>
	<string>radiusBufferTheme</string>
	<key>synchronousIsolateRight</key>
	<string>adaptiveProjectSpeed</string>
</dict>
</plist>
