<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAboutInterpreter</key>
	<string>diversifiedIntensityMomentum</string>
	<key>drawerContainStrategy</key>
	<string>tweenBeyondCommand</string>
	<key>eagerSliderBorder</key>
	<string>alphaOutsideFunction</string>
	<key>parallelConstraintCount</key>
	<string>entityAndCommand</string>
	<key>protectedPopupBorder</key>
	<string>descriptionFromObserver</string>
	<key>providerPatternTint</key>
	<string>alertOrKind</string>
	<key>queryActionShape</key>
	<string>contractionBeyondMediator</string>
	<key>referenceViaFlyweight</key>
	<string>storeOrTier</string>
	<key>routeExceptContext</key>
	<string>cubitInInterpreter</string>
	<key>utilCompositeShape</key>
	<string>actionTempleFrequency</string>
</dict>
</plist>
