<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAsWork</key>
	<string>typicalGemSkewy</string>
	<key>compositionalActionOpacity</key>
	<string>activeParticleColor</string>
	<key>controllerValueDirection</key>
	<string>listenerContextBehavior</string>
	<key>cubitWorkCenter</key>
	<string>firstDurationFeedback</string>
	<key>functionalListviewSkewx</key>
	<string>imperativeStreamFeedback</string>
	<key>interactorLevelCount</key>
	<string>transformerLikeMemento</string>
	<key>scrollableProtocolDuration</key>
	<string>intermediateTransitionBehavior</string>
	<key>workflowIncludeMethod</key>
	<string>gridPerForm</string>
	<key>workflowModeHue</key>
	<string>topicAtType</string>
</dict>
</plist>
