<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleAnimatedcontainerBehavior</key>
	<string>reactiveSizePosition</string>
	<key>channelsAboutObserver</key>
	<string>topicAtShape</string>
	<key>consultativeBufferIndex</key>
	<string>responseSinceMode</string>
	<key>hashFromStyle</key>
	<string>axisPerPattern</string>
	<key>loopOutsideScope</key>
	<string>getxStructureContrast</string>
	<key>particleAgainstBuffer</key>
	<string>projectVisitorInset</string>
	<key>protectedSwitchShade</key>
	<string>streamFunctionState</string>
	<key>symmetricGateAcceleration</key>
	<string>customCanvasAcceleration</string>
	<key>uniqueSignMomentum</key>
	<string>alphaShapeStatus</string>
</dict>
</plist>
