<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionFunctionBehavior</key>
	<string>inactiveChannelTransparency</string>
	<key>entropyLevelRotation</key>
	<string>intermediateCacheTail</string>
	<key>exceptionWithoutSingleton</key>
	<string>featureWorkSize</string>
	<key>getxUntilState</key>
	<string>geometricFactoryStatus</string>
	<key>layerWorkAppearance</key>
	<string>unactivatedMediaqueryPosition</string>
	<key>parallelResourceSpacing</key>
	<string>builderAwayBuffer</string>
	<key>substantialFragmentLocation</key>
	<string>interactorDespiteStage</string>
</dict>
</plist>
