<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAlongType</key>
	<string>sceneVersusParameter</string>
	<key>cardStrategyDistance</key>
	<string>lostProjectionSpacing</string>
	<key>challengeBufferIndex</key>
	<string>iconIncludeMethod</string>
	<key>controllerAroundEnvironment</key>
	<string>appbarNumberTransparency</string>
	<key>cubitParameterAlignment</key>
	<string>typicalSpineKind</string>
	<key>integerTempleBottom</key>
	<string>spotNumberDelay</string>
	<key>navigatorAlongBuffer</key>
	<string>hardAnimationTheme</string>
	<key>unsortedLayerInteraction</key>
	<string>displayableRowMomentum</string>
</dict>
</plist>
