<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInterpreterOpacity</key>
	<string>taskJobLocation</string>
	<key>desktopScaleSpacing</key>
	<string>promiseCycleRight</string>
	<key>opaqueSubscriptionValidation</key>
	<string>opaqueCaptionPadding</string>
	<key>textStyleScale</key>
	<string>positionedSingletonPressure</string>
	<key>usedConstraintDuration</key>
	<string>descriptorProcessVelocity</string>
</dict>
</plist>
