<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartIncludeTier</key>
	<string>profileTypePosition</string>
	<key>desktopViewHead</key>
	<string>unactivatedTextureCount</string>
	<key>immediateActionBorder</key>
	<string>routerWithoutVisitor</string>
	<key>particleMementoCenter</key>
	<string>channelsInterpreterContrast</string>
	<key>resizablePaddingAppearance</key>
	<string>resourceContextEdge</string>
	<key>similarRequestFlags</key>
	<string>skinFromInterpreter</string>
	<key>specifySingletonFlags</key>
	<string>queueVariableTransparency</string>
	<key>stateTypeSkewx</key>
	<string>futureNumberPosition</string>
	<key>visibleUnaryPressure</key>
	<string>intuitiveMatrixTheme</string>
</dict>
</plist>
