<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerParameterTail</key>
	<string>buttonVersusKind</string>
	<key>multiCompleterAlignment</key>
	<string>functionalConsumerBehavior</string>
	<key>nativeMaterialStatus</key>
	<string>difficultConfigurationDistance</string>
	<key>sineLikeStyle</key>
	<string>precisionAsFacade</string>
</dict>
</plist>
