<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAdapterPadding</key>
	<string>petThanMediator</string>
	<key>curveShapeAlignment</key>
	<string>accessibleSizeDensity</string>
	<key>difficultMetadataBorder</key>
	<string>gridviewPerProcess</string>
	<key>globalSignSkewx</key>
	<string>rowCommandKind</string>
	<key>managerAndVariable</key>
	<string>lazyContractionBound</string>
	<key>multiplicationForWork</key>
	<string>visibleModalTag</string>
	<key>playbackFlyweightSpacing</key>
	<string>graphForWork</string>
	<key>textMethodMargin</key>
	<string>themeIncludeFramework</string>
</dict>
</plist>
