<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAgainstForm</key>
	<string>routerTaskInteraction</string>
	<key>segmentBufferForce</key>
	<string>baselineByVariable</string>
	<key>sharedDurationSpeed</key>
	<string>precisionDuringContext</string>
	<key>smartTitleDistance</key>
	<string>robustRadiusInset</string>
</dict>
</plist>
