<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectActionMomentum</key>
	<string>arithmeticShaderDensity</string>
	<key>beginnerScenePadding</key>
	<string>granularButtonCoord</string>
	<key>transformerPhaseInterval</key>
	<string>animatedHistogramFeedback</string>
</dict>
</plist>
