<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMaterialFlags</key>
	<string>animationUntilVariable</string>
	<key>aspectratioWithoutPrototype</key>
	<string>routerPhaseTransparency</string>
	<key>buttonAmongActivity</key>
	<string>adaptivePriorityBorder</string>
	<key>handlerJobScale</key>
	<string>significantAllocatorDuration</string>
	<key>segmentVisitorEdge</key>
	<string>autoShaderLeft</string>
	<key>skirtSystemRotation</key>
	<string>keyInteractorTint</string>
	<key>taskInsideComposite</key>
	<string>descriptorStrategyName</string>
	<key>techniqueDecoratorDirection</key>
	<string>relationalDurationSize</string>
	<key>timerLikeSingleton</key>
	<string>normalThreadPadding</string>
	<key>transitionForProxy</key>
	<string>entropyForMediator</string>
</dict>
</plist>
