<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertNumberTransparency</key>
	<string>comprehensiveSceneFeedback</string>
	<key>buttonDecoratorFlags</key>
	<string>adaptivePetKind</string>
	<key>constUnarySkewx</key>
	<string>symbolContainMemento</string>
	<key>effectExceptFunction</key>
	<string>exceptionAlongMediator</string>
	<key>observerLevelIndex</key>
	<string>managerThroughTask</string>
	<key>sharedSpotSpacing</key>
	<string>beginnerNotifierOrientation</string>
</dict>
</plist>
