<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityTaskType</key>
	<string>elasticCompositionInterval</string>
	<key>animatedStatefulBrightness</key>
	<string>skinAsSystem</string>
	<key>cardThanCommand</key>
	<string>logBufferEdge</string>
	<key>factoryNumberMomentum</key>
	<string>customizedLabelFlags</string>
	<key>slashLayerMomentum</key>
	<string>bufferActionInteraction</string>
	<key>substantialSpecifierMomentum</key>
	<string>firstTextureCount</string>
</dict>
</plist>
