<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaThanState</key>
	<string>robustTransitionTag</string>
	<key>handlerOfPrototype</key>
	<string>crudeFeatureStatus</string>
	<key>interfaceOfValue</key>
	<string>zoneOperationPadding</string>
	<key>modalSinceTemple</key>
	<string>usecaseIncludeLayer</string>
	<key>seamlessNavigationTint</key>
	<string>rowWithAdapter</string>
	<key>sensorInParameter</key>
	<string>positionedVersusStyle</string>
</dict>
</plist>
