<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAmongPrototype</key>
	<string>containerActionOpacity</string>
	<key>entityFunctionSpeed</key>
	<string>tangentForPrototype</string>
	<key>ephemeralIconRight</key>
	<string>queryNumberTail</string>
	<key>sustainableInteractorAcceleration</key>
	<string>durationSinceAdapter</string>
</dict>
</plist>
