<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartOrPhase</key>
	<string>persistentLabelContrast</string>
	<key>disparateRowMomentum</key>
	<string>subsequentReductionIndex</string>
	<key>immediateCoordinatorBorder</key>
	<string>vectorTempleInteraction</string>
	<key>themeAwayEnvironment</key>
	<string>diversifiedDropdownbuttonFormat</string>
</dict>
</plist>
