<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSingletonSize</key>
	<string>sharedNavigatorResponse</string>
	<key>indicatorUntilCommand</key>
	<string>curveForPlatform</string>
	<key>logarithmTempleRight</key>
	<string>inactiveStreamMomentum</string>
	<key>paddingInsideCommand</key>
	<string>curveAmongContext</string>
	<key>presenterCycleContrast</key>
	<string>collectionActivityCenter</string>
	<key>progressbarTempleAppearance</key>
	<string>repositorySystemState</string>
	<key>protectedSpriteShape</key>
	<string>isolateDespiteContext</string>
	<key>storageThroughSystem</key>
	<string>accordionButtonOrientation</string>
	<key>textMementoPosition</key>
	<string>chapterContainOperation</string>
</dict>
</plist>
