<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateVarDirection</key>
	<string>robustRequestFlags</string>
	<key>factoryExceptTask</key>
	<string>toolFrameworkTail</string>
	<key>iconAlongFunction</key>
	<string>themeStructureDelay</string>
	<key>labelContextSkewx</key>
	<string>difficultCurveHue</string>
	<key>nativeTouchTension</key>
	<string>projectWithoutParam</string>
	<key>sizedboxFlyweightType</key>
	<string>presenterBesideJob</string>
	<key>staticTaskMargin</key>
	<string>reusableCoordinatorShape</string>
</dict>
</plist>
