<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateIntensityInteraction</key>
	<string>techniqueCommandVelocity</string>
	<key>fragmentVariableTransparency</key>
	<string>invisibleTransitionPadding</string>
	<key>modulusParameterAppearance</key>
	<string>asyncStyleDepth</string>
	<key>sizedboxContextLocation</key>
	<string>decorationAtPattern</string>
</dict>
</plist>
