<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGradientDuration</key>
	<string>tappableSkirtHead</string>
	<key>flexibleAssetTail</key>
	<string>equalizationAsAction</string>
	<key>resolverPatternVisible</key>
	<string>concurrentLossSkewx</string>
	<key>responseChainCenter</key>
	<string>completerNearTask</string>
	<key>textModeLeft</key>
	<string>materialWidgetContrast</string>
	<key>workflowForWork</key>
	<string>providerShapeState</string>
</dict>
</plist>
