<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCatalystPressure</key>
	<string>zoneAmongNumber</string>
	<key>asynchronousBulletBehavior</key>
	<string>multiplicationOrLayer</string>
	<key>lastAsyncKind</key>
	<string>chartAndBridge</string>
	<key>scrollableResourceAlignment</key>
	<string>gradientDecoratorPadding</string>
	<key>subpixelSystemStatus</key>
	<string>dynamicListenerTop</string>
	<key>tweenDuringSingleton</key>
	<string>particleOfVar</string>
</dict>
</plist>
