<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegatePrototypeHead</key>
	<string>titleByCommand</string>
	<key>durationBridgeSkewx</key>
	<string>mediaNearFlyweight</string>
	<key>injectionAmongProcess</key>
	<string>animationSinceState</string>
	<key>menuTaskTint</key>
	<string>liteAppbarAlignment</string>
	<key>observerShapeAlignment</key>
	<string>screenBesideStructure</string>
	<key>popupTierTransparency</key>
	<string>channelWithFramework</string>
	<key>significantLabelHue</key>
	<string>spriteAroundNumber</string>
	<key>usecaseIncludeFunction</key>
	<string>repositoryOrAction</string>
</dict>
</plist>
