<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerActionName</key>
	<string>pivotalStreamState</string>
	<key>futureThanMediator</key>
	<string>tabbarAdapterSpeed</string>
	<key>primaryInjectionOpacity</key>
	<string>precisionParamAlignment</string>
	<key>sceneStructureDelay</key>
	<string>exceptionTempleHue</string>
	<key>streamThroughBridge</key>
	<string>reusableGridInset</string>
</dict>
</plist>
