<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletFormDistance</key>
	<string>widgetMementoFeedback</string>
	<key>buttonOrTier</key>
	<string>accessibleCubeFeedback</string>
	<key>fusedSingletonType</key>
	<string>particleJobHue</string>
	<key>mediocreHandlerTag</key>
	<string>primarySliderOrientation</string>
	<key>segueVarStatus</key>
	<string>utilParameterOrigin</string>
	<key>smallAlignmentBehavior</key>
	<string>tweenInWork</string>
</dict>
</plist>
