<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticRadioBottom</key>
	<string>sliderFormCenter</string>
	<key>delicateRowSpacing</key>
	<string>baseInsideProxy</string>
	<key>localizationSinceShape</key>
	<string>denseRectPosition</string>
	<key>playbackContainType</key>
	<string>streamMethodIndex</string>
	<key>positionJobSize</key>
	<string>modelAgainstVar</string>
	<key>resilientCubitBottom</key>
	<string>radiusWithoutAdapter</string>
</dict>
</plist>
