<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonInActivity</key>
	<string>keySpriteBound</string>
	<key>cubeOrOperation</key>
	<string>providerWithoutTier</string>
	<key>eagerCellLeft</key>
	<string>uniqueProtocolBottom</string>
	<key>gateThroughComposite</key>
	<string>stateFormResponse</string>
	<key>hierarchicalGraphInterval</key>
	<string>dialogsWithoutVariable</string>
	<key>respectiveCurveSpacing</key>
	<string>cubeContainPhase</string>
	<key>spotTaskName</key>
	<string>symbolFacadeSaturation</string>
	<key>touchPrototypeAlignment</key>
	<string>nibOfWork</string>
	<key>typicalExceptionMargin</key>
	<string>utilCompositeScale</string>
	<key>usageSingletonDistance</key>
	<string>rectOfSystem</string>
</dict>
</plist>
