<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystFrameworkType</key>
	<string>labelForFramework</string>
	<key>convolutionIncludePrototype</key>
	<string>intuitiveGetxState</string>
	<key>localizationPhaseContrast</key>
	<string>commonTickerSkewy</string>
	<key>positionedKindAlignment</key>
	<string>assetVisitorLeft</string>
	<key>ternaryThanDecorator</key>
	<string>fragmentAtKind</string>
	<key>tickerSinceMode</key>
	<string>easySwiftPadding</string>
</dict>
</plist>
