<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediaqueryLayerTail</key>
	<string>appbarExceptObserver</string>
	<key>multiplicationEnvironmentVelocity</key>
	<string>interpolationVersusBuffer</string>
	<key>nibByStructure</key>
	<string>checkboxCommandShade</string>
	<key>rowValueShape</key>
	<string>particleFromFacade</string>
</dict>
</plist>
