<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticEffectVelocity</key>
	<string>interpolationTempleIndex</string>
	<key>groupOfAdapter</key>
	<string>chartByStage</string>
	<key>liteStepSize</key>
	<string>unactivatedNibCount</string>
	<key>providerTypeSize</key>
	<string>subsequentModulusName</string>
	<key>sensorThanStructure</key>
	<string>concurrentOperationSkewy</string>
	<key>sharedTernaryPressure</key>
	<string>vectorDuringMemento</string>
	<key>standaloneOverlayStatus</key>
	<string>popupWithLayer</string>
	<key>zoneContainMediator</key>
	<string>firstCompleterSkewx</string>
</dict>
</plist>
