<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entitySinceScope</key>
	<string>hashCycleBound</string>
	<key>layoutExceptStrategy</key>
	<string>reusableGraphInset</string>
	<key>scaleAndProcess</key>
	<string>comprehensiveApertureInterval</string>
	<key>zoneAsMemento</key>
	<string>apertureByVar</string>
</dict>
</plist>
