<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteQueryOpacity</key>
	<string>scrollInScope</string>
	<key>cursorBeyondStyle</key>
	<string>mutableSkinFrequency</string>
	<key>diversifiedWidgetSpacing</key>
	<string>interactorAroundKind</string>
	<key>resourceVersusPattern</key>
	<string>observerFunctionDirection</string>
	<key>stampContextType</key>
	<string>assetByPrototype</string>
</dict>
</plist>
