<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAmongAction</key>
	<string>concurrentStoreContrast</string>
	<key>delicateExceptionBehavior</key>
	<string>concurrentTabbarCoord</string>
	<key>eventStyleDirection</key>
	<string>displayableResourceDensity</string>
	<key>radioThroughPhase</key>
	<string>compositionalManagerBound</string>
	<key>segmentCycleTail</key>
	<string>concurrentLayoutOrigin</string>
	<key>usedHandlerMode</key>
	<string>mediaCommandColor</string>
	<key>zoneValueTheme</key>
	<string>musicFlyweightBorder</string>
</dict>
</plist>
