<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerActivityLocation</key>
	<string>specifyParticleRate</string>
	<key>axisWithParam</key>
	<string>toolCycleOrientation</string>
	<key>collectionScopeFrequency</key>
	<string>durationSystemIndex</string>
	<key>localizationKindTransparency</key>
	<string>firstTaskPressure</string>
	<key>numericalMenuCount</key>
	<string>heapActionStyle</string>
	<key>reductionVersusFramework</key>
	<string>modelInterpreterIndex</string>
	<key>smartMetadataTransparency</key>
	<string>arithmeticContractionPosition</string>
</dict>
</plist>
