<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyCommandLeft</key>
	<string>configurationLikeStage</string>
	<key>rowModeFormat</key>
	<string>channelTypeAppearance</string>
	<key>screenExceptCommand</key>
	<string>lazyRouteSkewx</string>
	<key>skirtAwayStyle</key>
	<string>boxViaChain</string>
</dict>
</plist>
