<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStyleTag</key>
	<string>instructionDuringJob</string>
	<key>gesturedetectorBeyondActivity</key>
	<string>blocNearStructure</string>
	<key>invisibleGiftRate</key>
	<string>dialogsPlatformTail</string>
	<key>isolateAsVisitor</key>
	<string>multiSkinTag</string>
	<key>liteTweenBehavior</key>
	<string>unactivatedTopicDensity</string>
	<key>normalSizeScale</key>
	<string>logarithmTaskPosition</string>
	<key>notifierFlyweightKind</key>
	<string>advancedAspectratioShape</string>
	<key>observerDuringCommand</key>
	<string>blocMementoDelay</string>
	<key>reducerStrategyTop</key>
	<string>dedicatedMenuPressure</string>
	<key>tickerOperationTint</key>
	<string>chapterOrParameter</string>
</dict>
</plist>
