<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureOrStyle</key>
	<string>loopVisitorDensity</string>
	<key>blocAmongActivity</key>
	<string>constraintCompositeAlignment</string>
	<key>bufferThroughLayer</key>
	<string>bufferWorkMode</string>
	<key>cupertinoQueryTag</key>
	<string>navigatorAlongProcess</string>
	<key>hardAnimationCenter</key>
	<string>interactiveLogarithmBrightness</string>
	<key>hashTierBottom</key>
	<string>notificationNearComposite</string>
	<key>lostSampleKind</key>
	<string>routeSingletonType</string>
	<key>reusableReductionScale</key>
	<string>particleAboutFlyweight</string>
	<key>tangentFormTint</key>
	<string>paddingBesideCycle</string>
	<key>usedSpotDuration</key>
	<string>certificateAmongBuffer</string>
</dict>
</plist>
