<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerObserverPadding</key>
	<string>positionedDecoratorCount</string>
	<key>graphicSystemDuration</key>
	<string>liteSymbolMargin</string>
	<key>previewTypeRight</key>
	<string>serviceVisitorDuration</string>
	<key>singletonInFlyweight</key>
	<string>hashNumberTop</string>
</dict>
</plist>
