<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedFactoryTag</key>
	<string>dimensionAmongParam</string>
	<key>callbackOutsideOperation</key>
	<string>activityFrameworkTag</string>
	<key>elasticTernaryOrigin</key>
	<string>keyFeatureBottom</string>
	<key>firstCurveRate</key>
	<string>materialAgainstSystem</string>
	<key>sinkActivityTail</key>
	<string>curveProxyShade</string>
	<key>smallBaselineFrequency</key>
	<string>staticProviderTail</string>
	<key>taskAsNumber</key>
	<string>semanticsModeCoord</string>
</dict>
</plist>
