<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBesideParameter</key>
	<string>customizedRowVelocity</string>
	<key>completionTempleDepth</key>
	<string>precisionAwayAdapter</string>
	<key>concreteVariantCount</key>
	<string>sliderAgainstAdapter</string>
	<key>directlyPromiseBehavior</key>
	<string>durationAboutBridge</string>
	<key>eagerTableTag</key>
	<string>bulletProxySpacing</string>
	<key>normBesideType</key>
	<string>secondMobileVelocity</string>
	<key>rowTypeVisibility</key>
	<string>displayableImageCount</string>
	<key>seamlessVariantName</key>
	<string>pivotalCurveName</string>
	<key>specifyOffsetColor</key>
	<string>painterModeDirection</string>
	<key>unactivatedMultiplicationCenter</key>
	<string>injectionVisitorOrientation</string>
</dict>
</plist>
