<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarAroundWork</key>
	<string>menuWithAdapter</string>
	<key>binaryInSystem</key>
	<string>decorationAgainstMediator</string>
	<key>constRiverpodEdge</key>
	<string>animatedMomentumValidation</string>
	<key>draggableTitleVisibility</key>
	<string>grainInsideStructure</string>
	<key>equipmentOfCycle</key>
	<string>modulusDecoratorTheme</string>
	<key>listviewValueAlignment</key>
	<string>autoDocumentBound</string>
	<key>masterLikeVariable</key>
	<string>metadataShapeOffset</string>
	<key>memberSingletonOrientation</key>
	<string>eagerGemCoord</string>
	<key>responsiveRequestMode</key>
	<string>diversifiedBlocRight</string>
	<key>specifyStoreOffset</key>
	<string>independentEntityStyle</string>
</dict>
</plist>
