<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxPlatformStyle</key>
	<string>dedicatedErrorSaturation</string>
	<key>constraintNearLayer</key>
	<string>secondMetadataEdge</string>
	<key>cupertinoDecorationFormat</key>
	<string>custompaintStateSize</string>
	<key>currentCollectionSaturation</key>
	<string>usageAboutMode</string>
	<key>currentTransitionDirection</key>
	<string>methodViaStyle</string>
	<key>delicateGridPressure</key>
	<string>cubeViaScope</string>
	<key>elasticCallbackState</key>
	<string>builderThanForm</string>
	<key>materialLayerOpacity</key>
	<string>bufferOutsideParam</string>
	<key>referenceInObserver</key>
	<string>resilientLayerBorder</string>
	<key>vectorProxySpacing</key>
	<string>uniformSegmentFormat</string>
</dict>
</plist>
