<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveDuringJob</key>
	<string>asyncZoneOrigin</string>
	<key>futureWithoutChain</key>
	<string>accessibleSpineCount</string>
	<key>primaryLossMomentum</key>
	<string>textVersusObserver</string>
	<key>queueStateMode</key>
	<string>dynamicDelegateBrightness</string>
	<key>sinkFlyweightName</key>
	<string>scaleBeyondAdapter</string>
	<key>streamThroughJob</key>
	<string>routerCycleResponse</string>
</dict>
</plist>
