<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionFormSpacing</key>
	<string>beginnerRadiusEdge</string>
	<key>custompaintLayerVisible</key>
	<string>topicMethodTransparency</string>
	<key>mediocreBehaviorDelay</key>
	<string>rapidMemberDistance</string>
	<key>persistentControllerBorder</key>
	<string>primaryResolverFlags</string>
	<key>repositoryPhasePosition</key>
	<string>animationAsCommand</string>
	<key>resourceThroughEnvironment</key>
	<string>criticalNibState</string>
	<key>sharedBinaryEdge</key>
	<string>storageKindBottom</string>
	<key>sharedGridStyle</key>
	<string>priorQueryLeft</string>
	<key>techniqueAgainstProcess</key>
	<string>substantialSkinCoord</string>
</dict>
</plist>
