<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonSinceNumber</key>
	<string>otherRowDensity</string>
	<key>channelsByMediator</key>
	<string>containerLayerDirection</string>
	<key>modelLayerColor</key>
	<string>customizedStoreVisible</string>
	<key>sizeBufferOpacity</key>
	<string>queryMethodSkewy</string>
	<key>storeFunctionSkewx</key>
	<string>materialDelegateForce</string>
	<key>subsequentLossTension</key>
	<string>interactorWithState</string>
	<key>tensorContainerShade</key>
	<string>elasticIntensityBorder</string>
	<key>unactivatedClipperVisibility</key>
	<string>firstAnimationColor</string>
</dict>
</plist>
