<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSinkOrientation</key>
	<string>coordinatorPhaseDuration</string>
	<key>prevLogCenter</key>
	<string>lastMatrixTail</string>
	<key>reusableChapterPosition</key>
	<string>exponentAboutChain</string>
	<key>rowBeyondAdapter</key>
	<string>semanticTimerVisibility</string>
	<key>stampInFramework</key>
	<string>captionStageRate</string>
	<key>vectorUntilStrategy</key>
	<string>specifyLabelContrast</string>
</dict>
</plist>
