<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarOrChain</key>
	<string>declarativeAnimationInset</string>
	<key>eagerConfigurationHue</key>
	<string>entityDuringVar</string>
	<key>giftEnvironmentDensity</key>
	<string>modelViaFacade</string>
	<key>kernelAmongFlyweight</key>
	<string>nodeTaskOrigin</string>
	<key>labelAroundLayer</key>
	<string>permanentViewLocation</string>
	<key>mutableDrawerFrequency</key>
	<string>repositoryTypeState</string>
	<key>reductionMementoMargin</key>
	<string>channelModeShape</string>
	<key>tickerForLayer</key>
	<string>brushBeyondTier</string>
</dict>
</plist>
