<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMovementContrast</key>
	<string>roleFunctionLocation</string>
	<key>awaitContainWork</key>
	<string>flexibleWidgetRight</string>
	<key>awaitOrPlatform</key>
	<string>oldCanvasPressure</string>
	<key>invisibleRadiusKind</key>
	<string>vectorStrategyAlignment</string>
	<key>liteLossBehavior</key>
	<string>controllerUntilLevel</string>
	<key>nibFunctionOrientation</key>
	<string>lazyModalValidation</string>
	<key>normalUtilAppearance</key>
	<string>coordinatorFormFlags</string>
	<key>responseLikeComposite</key>
	<string>frameDuringFunction</string>
	<key>serviceFormSkewx</key>
	<string>capsuleBeyondPhase</string>
	<key>statefulHandlerDistance</key>
	<string>graphAndFramework</string>
</dict>
</plist>
