<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerVarInset</key>
	<string>projectionPlatformTag</string>
	<key>originalProgressbarFormat</key>
	<string>operationInsideJob</string>
	<key>radiusProxyInset</key>
	<string>labelOfStage</string>
	<key>requestScopeSaturation</key>
	<string>catalystTypePadding</string>
	<key>sharedMapBrightness</key>
	<string>modelAlongFunction</string>
</dict>
</plist>
