<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileExceptionPadding</key>
	<string>buttonInTask</string>
	<key>composableBrushDistance</key>
	<string>dimensionTypeTag</string>
	<key>desktopSizeTop</key>
	<string>compositionalResourceOrigin</string>
	<key>effectTierKind</key>
	<string>skirtSystemStyle</string>
	<key>entityContainBuffer</key>
	<string>widgetMediatorRight</string>
	<key>interactorWithoutPattern</key>
	<string>smallSwitchOrientation</string>
	<key>mediocreIsolateInset</key>
	<string>integerVarInterval</string>
</dict>
</plist>
