<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateLoopInset</key>
	<string>taskOrForm</string>
	<key>eagerSkirtInterval</key>
	<string>certificateSinceJob</string>
	<key>layerStateMomentum</key>
	<string>flexCompositeTheme</string>
	<key>relationalBrushSpeed</key>
	<string>delicateSignDepth</string>
	<key>rowOrStructure</key>
	<string>chartIncludeFlyweight</string>
</dict>
</plist>
