<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarUntilVar</key>
	<string>unaryDespiteForm</string>
	<key>priorLayerResponse</key>
	<string>tensorSingletonOrientation</string>
	<key>sequentialControllerTransparency</key>
	<string>crucialConsumerScale</string>
	<key>stateCompositeTag</key>
	<string>capsuleFunctionState</string>
	<key>stateFromInterpreter</key>
	<string>richtextOfLevel</string>
</dict>
</plist>
