<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintKindKind</key>
	<string>nodeCompositeValidation</string>
	<key>kernelSinceStage</key>
	<string>chapterAboutPhase</string>
	<key>slashCompositeSpacing</key>
	<string>grainNearVisitor</string>
	<key>subscriptionActionDensity</key>
	<string>primaryRouteSpacing</string>
	<key>taskAlongVariable</key>
	<string>temporarySkirtCenter</string>
</dict>
</plist>
