<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionSinceAdapter</key>
	<string>rapidNavigationTension</string>
	<key>fusedTopicTransparency</key>
	<string>gramEnvironmentKind</string>
	<key>ignoredTextureVisible</key>
	<string>directResourceBehavior</string>
	<key>materialGrainMomentum</key>
	<string>smallAnimationCenter</string>
	<key>resilientChecklistCount</key>
	<string>swiftLikeCommand</string>
</dict>
</plist>
