<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicMissionScale</key>
	<string>responseStageShape</string>
	<key>transformerSinceEnvironment</key>
	<string>webModulusCount</string>
	<key>unaryPlatformBrightness</key>
	<string>durationForProcess</string>
</dict>
</plist>
