<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerAlongKind</key>
	<string>rectForPlatform</string>
	<key>cupertinoControllerLeft</key>
	<string>asyncPaddingRate</string>
	<key>numericalCompleterTag</key>
	<string>viewTaskBottom</string>
	<key>sizeLikeOperation</key>
	<string>statefulPhaseShape</string>
	<key>sliderOfForm</key>
	<string>pivotalViewStatus</string>
	<key>usecaseStrategySpeed</key>
	<string>effectValuePosition</string>
</dict>
</plist>
