<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateVarMode</key>
	<string>contractionContainState</string>
	<key>denseUtilTint</key>
	<string>fusedStorageFeedback</string>
	<key>ephemeralChannelForce</key>
	<string>workflowAmongCycle</string>
	<key>fixedTopicSkewy</key>
	<string>timerWithoutProxy</string>
	<key>intensityInsidePhase</key>
	<string>clipperVarContrast</string>
	<key>intensityJobTint</key>
	<string>animatedCurveCount</string>
	<key>stackBeyondComposite</key>
	<string>animationTempleScale</string>
</dict>
</plist>
