<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertPerForm</key>
	<string>customMomentumSpeed</string>
	<key>allocatorAlongOperation</key>
	<string>invisibleChannelOrientation</string>
	<key>contractionModeDepth</key>
	<string>animatedcontainerAsStyle</string>
	<key>cubeVisitorTop</key>
	<string>streamCompositeFrequency</string>
	<key>immutableBoxshadowTransparency</key>
	<string>presenterExceptScope</string>
	<key>movementOutsideVisitor</key>
	<string>customBulletBorder</string>
	<key>previewProxyInteraction</key>
	<string>comprehensiveNodePadding</string>
	<key>roleBesideTask</key>
	<string>storageDecoratorBrightness</string>
	<key>scrollableWidgetValidation</key>
	<string>interfaceViaEnvironment</string>
</dict>
</plist>
