<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeStatelessTransparency</key>
	<string>momentumOutsideFunction</string>
	<key>allocatorAwayCommand</key>
	<string>movementShapeMargin</string>
	<key>commonViewColor</key>
	<string>spotAroundBridge</string>
	<key>displayableProviderVelocity</key>
	<string>arithmeticAgainstSingleton</string>
	<key>fusedContractionSpacing</key>
	<string>entropyPerMemento</string>
	<key>overlayByParameter</key>
	<string>pivotalOptionBorder</string>
	<key>parallelMultiplicationValidation</key>
	<string>decorationExceptMemento</string>
	<key>semanticStreamDuration</key>
	<string>delicateVectorScale</string>
	<key>skirtInsideFlyweight</key>
	<string>menuPrototypeEdge</string>
	<key>titleEnvironmentHue</key>
	<string>multiConsumerCenter</string>
</dict>
</plist>
