<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorFacadeHue</key>
	<string>composableResultVisible</string>
	<key>secondDrawerSkewx</key>
	<string>alertCycleMomentum</string>
	<key>subsequentAnchorInset</key>
	<string>normBesideEnvironment</string>
</dict>
</plist>
