<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTextSpacing</key>
	<string>tickerLikeWork</string>
	<key>operationAgainstTemple</key>
	<string>completerOperationStyle</string>
	<key>retainedConsumerStatus</key>
	<string>bufferOperationHead</string>
	<key>semanticsVarTag</key>
	<string>interfacePerBridge</string>
</dict>
</plist>
