<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileDescriptionMode</key>
	<string>singleAspectratioBound</string>
	<key>arithmeticObserverPadding</key>
	<string>storageAmongTemple</string>
	<key>chartPerFramework</key>
	<string>injectionThroughMode</string>
	<key>delegateNumberShade</key>
	<string>durationOrFramework</string>
	<key>desktopCellBehavior</key>
	<string>sizedboxThroughProcess</string>
	<key>imperativeUnaryFormat</key>
	<string>directlyMultiplicationRotation</string>
	<key>indicatorIncludeNumber</key>
	<string>constraintProcessHead</string>
	<key>instructionMementoFlags</key>
	<string>blocAsPattern</string>
	<key>streamCommandMode</key>
	<string>asynchronousChannelTop</string>
	<key>streamStyleBorder</key>
	<string>assetBesideOperation</string>
</dict>
</plist>
