<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationIncludeMode</key>
	<string>deferredListenerSize</string>
	<key>binaryStateLocation</key>
	<string>getxOutsideProxy</string>
	<key>bitrateViaType</key>
	<string>mobilePaddingShade</string>
	<key>containerActivityDuration</key>
	<string>decorationAgainstValue</string>
	<key>nativeInkwellSkewx</key>
	<string>stackActivitySpeed</string>
	<key>permissiveChannelsDirection</key>
	<string>subtleSwitchTop</string>
	<key>stateUntilCommand</key>
	<string>offsetDuringFacade</string>
	<key>statelessSceneDuration</key>
	<string>textureOfComposite</string>
	<key>synchronousEntropyShape</key>
	<string>requiredStreamBrightness</string>
	<key>textureMementoBorder</key>
	<string>scrollableRouterRotation</string>
</dict>
</plist>
