<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticStreamCount</key>
	<string>mediumAsyncTop</string>
	<key>awaitTypeCoord</key>
	<string>mainEventBottom</string>
	<key>newestGrainEdge</key>
	<string>sinkAtDecorator</string>
	<key>permissiveSlashOrientation</key>
	<string>checkboxStageVisibility</string>
	<key>presenterBufferForce</key>
	<string>exceptionVisitorCoord</string>
	<key>prismaticFlexAlignment</key>
	<string>exceptionAboutChain</string>
	<key>queueThanOperation</key>
	<string>curveCompositeAppearance</string>
	<key>reactiveChecklistTop</key>
	<string>resourceNumberScale</string>
	<key>rectAmongNumber</key>
	<string>disparateIndicatorTransparency</string>
</dict>
</plist>
