<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianControllerEdge</key>
	<string>hardPresenterVisibility</string>
	<key>entityVariableOrigin</key>
	<string>mainControllerMargin</string>
	<key>independentMediaRotation</key>
	<string>taskForOperation</string>
	<key>mutableCompletionDirection</key>
	<string>unactivatedGateShade</string>
	<key>queueObserverContrast</key>
	<string>equalizationCommandTension</string>
	<key>sceneFunctionDensity</key>
	<string>gradientVariableBottom</string>
	<key>sequentialHandlerOffset</key>
	<string>dropdownbuttonAboutMemento</string>
	<key>serviceAwayVisitor</key>
	<string>effectEnvironmentKind</string>
</dict>
</plist>
