<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameAsPrototype</key>
	<string>plateEnvironmentRight</string>
	<key>matrixPerContext</key>
	<string>requestNearType</string>
	<key>singleCubitSkewy</key>
	<string>granularButtonOffset</string>
	<key>staticCaptionDirection</key>
	<string>textfieldTemplePadding</string>
	<key>textJobOrientation</key>
	<string>certificateAgainstFlyweight</string>
</dict>
</plist>
