<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCoordinatorOffset</key>
	<string>liteSizeDepth</string>
	<key>cellVarScale</key>
	<string>activityExceptScope</string>
	<key>cubitIncludeInterpreter</key>
	<string>unactivatedBehaviorRotation</string>
	<key>dropdownbuttonStateTheme</key>
	<string>constraintAlongKind</string>
	<key>nextSingletonAppearance</key>
	<string>missedDependencyAlignment</string>
	<key>remainderExceptParameter</key>
	<string>liteQueueOrientation</string>
	<key>routeParamPressure</key>
	<string>scaffoldKindInset</string>
	<key>sineShapeRight</key>
	<string>disparateTaskTint</string>
	<key>unaryLevelSpeed</key>
	<string>coordinatorOperationMomentum</string>
</dict>
</plist>
