<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleNotificationCenter</key>
	<string>flexibleConfigurationTension</string>
	<key>basicIsolateFrequency</key>
	<string>independentBaseMargin</string>
	<key>beginnerContainerOffset</key>
	<string>momentumThroughStage</string>
	<key>completerSystemFrequency</key>
	<string>reductionAwayFramework</string>
	<key>iconAgainstStructure</key>
	<string>optionActionBorder</string>
	<key>nodeFromAction</key>
	<string>asynchronousLoopStyle</string>
	<key>usedMonsterTail</key>
	<string>asynchronousDescriptionBound</string>
	<key>workflowVersusStrategy</key>
	<string>textCycleHead</string>
</dict>
</plist>
