<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeTextColor</key>
	<string>semanticFrameEdge</string>
	<key>delegateSinceVar</key>
	<string>intuitiveInterpolationInterval</string>
	<key>difficultDelegateTheme</key>
	<string>arithmeticAndFunction</string>
	<key>dynamicChannelsDuration</key>
	<string>accordionCurveAlignment</string>
	<key>fixedArithmeticDensity</key>
	<string>grainInsideNumber</string>
	<key>marginOutsideFlyweight</key>
	<string>popupActivityHead</string>
	<key>menuProcessFrequency</key>
	<string>decorationUntilMediator</string>
	<key>missionDuringInterpreter</key>
	<string>cardOfState</string>
	<key>rowVariableType</key>
	<string>adaptiveRepositoryBottom</string>
	<key>segueOfJob</key>
	<string>navigationAgainstMediator</string>
</dict>
</plist>
