<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAlongBuffer</key>
	<string>bufferPhaseFlags</string>
	<key>coordinatorStrategyShape</key>
	<string>autoSwiftDelay</string>
	<key>directSlashTint</key>
	<string>streamFunctionMomentum</string>
	<key>exceptionFlyweightType</key>
	<string>batchLevelSize</string>
	<key>nodeOfDecorator</key>
	<string>disabledSkinHead</string>
	<key>prevStackBehavior</key>
	<string>permissiveHandlerValidation</string>
	<key>textureIncludeAction</key>
	<string>callbackBeyondShape</string>
</dict>
</plist>
