<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveThroughStructure</key>
	<string>reductionStrategyDelay</string>
	<key>gridStrategyDensity</key>
	<string>decorationWithoutShape</string>
	<key>layoutScopeIndex</key>
	<string>normTaskSkewy</string>
	<key>normalDocumentOpacity</key>
	<string>crucialSliderScale</string>
	<key>pointContainPlatform</key>
	<string>permanentGateRate</string>
	<key>subtleMethodName</key>
	<string>controllerForLevel</string>
	<key>viewBufferBottom</key>
	<string>liteClipperDensity</string>
</dict>
</plist>
