<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAboutBuffer</key>
	<string>storeAsPrototype</string>
	<key>constraintThroughProxy</key>
	<string>builderNumberShade</string>
	<key>materialDecoratorInset</key>
	<string>delegateParameterShade</string>
	<key>normalDimensionSkewy</key>
	<string>navigationSystemPressure</string>
	<key>semanticPetName</key>
	<string>descriptionUntilSingleton</string>
	<key>sortedSceneVisible</key>
	<string>callbackOfStrategy</string>
	<key>stateUntilState</key>
	<string>materialBufferFormat</string>
</dict>
</plist>
