<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteTextureOpacity</key>
	<string>storageVarDuration</string>
	<key>concurrentTweenState</key>
	<string>radiusAndPhase</string>
	<key>drawerStageName</key>
	<string>custompaintAlongParameter</string>
	<key>fragmentAroundPrototype</key>
	<string>gesturedetectorDecoratorCount</string>
	<key>ignoredFeatureTint</key>
	<string>featureAgainstProxy</string>
	<key>uniqueCompleterIndex</key>
	<string>constraintStyleFormat</string>
</dict>
</plist>
