<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedIntegerDensity</key>
	<string>capsuleTierMargin</string>
	<key>delegateAboutMemento</key>
	<string>capsuleTempleSkewy</string>
	<key>instructionDuringTemple</key>
	<string>axisStructureState</string>
	<key>operationThroughType</key>
	<string>interactiveStateTag</string>
</dict>
</plist>
