<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedInjectionFeedback</key>
	<string>intensityAmongParam</string>
	<key>commandOrType</key>
	<string>disabledTransitionBorder</string>
	<key>inkwellDecoratorSpeed</key>
	<string>sequentialDurationRate</string>
	<key>numericalPopupFrequency</key>
	<string>constRepositoryTail</string>
	<key>referenceUntilFunction</key>
	<string>tableIncludeSystem</string>
	<key>typicalDescriptionDelay</key>
	<string>cursorFacadeVelocity</string>
	<key>workflowDecoratorTransparency</key>
	<string>menuTierLeft</string>
</dict>
</plist>
