<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsTempleHue</key>
	<string>sinkTierAcceleration</string>
	<key>diffableGrayscaleTension</key>
	<string>blocStructureVisibility</string>
	<key>durationKindPosition</key>
	<string>responseInMemento</string>
	<key>labelPlatformVisible</key>
	<string>temporaryGridTint</string>
	<key>mapFormVisibility</key>
	<string>entityWorkResponse</string>
	<key>parallelDrawerOffset</key>
	<string>gridviewBesideCycle</string>
	<key>similarNavigationScale</key>
	<string>cellVisitorSpeed</string>
</dict>
</plist>
