<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSpriteCenter</key>
	<string>priorityTypeHue</string>
	<key>constIntensityTag</key>
	<string>graphicOperationTension</string>
	<key>logarithmExceptShape</key>
	<string>remainderCycleBorder</string>
	<key>resultContainPattern</key>
	<string>behaviorExceptSystem</string>
	<key>signStateForce</key>
	<string>sharedControllerAppearance</string>
</dict>
</plist>
