<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerByPlatform</key>
	<string>declarativePriorityColor</string>
	<key>controllerFormOpacity</key>
	<string>requiredMediaMargin</string>
	<key>globalUtilOffset</key>
	<string>routeVarMargin</string>
	<key>mapForJob</key>
	<string>easyServiceAcceleration</string>
	<key>promiseVersusEnvironment</key>
	<string>lostDependencyValidation</string>
	<key>sinkVariableShade</key>
	<string>interpolationOrParameter</string>
	<key>sliderStrategyInteraction</key>
	<string>deferredCosineDirection</string>
	<key>specifierOutsideStyle</key>
	<string>difficultModalBound</string>
</dict>
</plist>
