<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAndParam</key>
	<string>lastPriorityCoord</string>
	<key>euclideanHandlerBehavior</key>
	<string>listenerStageIndex</string>
	<key>notifierAsMediator</key>
	<string>alignmentStrategySpacing</string>
	<key>remainderOfFacade</key>
	<string>prismaticUsageDensity</string>
	<key>repositoryShapeTransparency</key>
	<string>secondSceneTint</string>
	<key>sceneByTemple</key>
	<string>injectionProxyTension</string>
	<key>sharedLayerForce</key>
	<string>workflowOperationHead</string>
	<key>textureInterpreterDensity</key>
	<string>workflowIncludeProxy</string>
	<key>topicCommandOpacity</key>
	<string>crudeEventOrientation</string>
</dict>
</plist>
