<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandStylePosition</key>
	<string>consultativeSensorCount</string>
	<key>flexLikeState</key>
	<string>diffableNavigatorRotation</string>
	<key>giftInStructure</key>
	<string>dynamicRectTheme</string>
	<key>handlerAtWork</key>
	<string>topicAsForm</string>
	<key>hyperbolicServiceBound</key>
	<string>factoryPatternTheme</string>
	<key>localBaselineHue</key>
	<string>euclideanMediaEdge</string>
	<key>respectiveContainerDensity</key>
	<string>presenterOfAction</string>
	<key>routerDuringEnvironment</key>
	<string>inkwellFormShade</string>
	<key>taskPhaseSkewx</key>
	<string>prevCompleterSpacing</string>
	<key>textTypeDistance</key>
	<string>indicatorKindInteraction</string>
</dict>
</plist>
