<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleStatefulBehavior</key>
	<string>logWorkDepth</string>
	<key>blocWithoutFlyweight</key>
	<string>layoutParamTension</string>
	<key>diffableAnchorTension</key>
	<string>skirtKindShape</string>
	<key>ephemeralSizedboxOrigin</key>
	<string>factoryAwayType</string>
	<key>fusedBulletBorder</key>
	<string>managerCompositeSize</string>
	<key>prismaticProgressbarSkewx</key>
	<string>sophisticatedEntityRotation</string>
	<key>rectOperationDensity</key>
	<string>singletonOutsideLayer</string>
	<key>remainderAboutAdapter</key>
	<string>sampleViaStrategy</string>
	<key>statefulSingletonMomentum</key>
	<string>memberPatternHead</string>
</dict>
</plist>
