<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderBeyondComposite</key>
	<string>captionStateIndex</string>
	<key>errorAdapterOrientation</key>
	<string>intensityInterpreterFormat</string>
	<key>factoryAgainstPrototype</key>
	<string>buttonDespiteValue</string>
	<key>gestureKindFormat</key>
	<string>parallelTaskVelocity</string>
	<key>priorMarginRate</key>
	<string>scrollableFlexTransparency</string>
	<key>routerWithOperation</key>
	<string>buttonDespiteParameter</string>
	<key>sensorKindSkewy</key>
	<string>stateDespiteDecorator</string>
	<key>sensorPrototypeFrequency</key>
	<string>switchActivityOrigin</string>
	<key>spotActionCenter</key>
	<string>typicalContractionCoord</string>
</dict>
</plist>
