<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedNodeVisible</key>
	<string>titleBesideFramework</string>
	<key>normalCyclePosition</key>
	<string>routeContextName</string>
	<key>statefulStrategyFlags</key>
	<string>sizeCycleFrequency</string>
</dict>
</plist>
