<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTabbarRight</key>
	<string>granularShaderPressure</string>
	<key>callbackFrameworkName</key>
	<string>channelsAsTask</string>
	<key>denseStreamVisibility</key>
	<string>seamlessInstructionMargin</string>
	<key>difficultCellRate</key>
	<string>marginForProxy</string>
	<key>histogramJobOffset</key>
	<string>baseChainBottom</string>
	<key>inactiveViewTint</key>
	<string>boxshadowOrLevel</string>
	<key>otherConvolutionMargin</key>
	<string>prismaticBlocCoord</string>
	<key>secondPetTag</key>
	<string>customizedZoneBrightness</string>
	<key>storageAroundJob</key>
	<string>scrollTypeTail</string>
	<key>viewAroundLevel</key>
	<string>spineAdapterLeft</string>
</dict>
</plist>
