<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicControllerVisibility</key>
	<string>cubitLikePhase</string>
	<key>euclideanStepOrientation</key>
	<string>resourceMethodKind</string>
	<key>methodFlyweightContrast</key>
	<string>lastBulletVisibility</string>
	<key>momentumFrameworkHue</key>
	<string>crucialActivityInteraction</string>
	<key>tensorDependencyBorder</key>
	<string>sensorJobStyle</string>
</dict>
</plist>
