<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionBesideVariable</key>
	<string>stateViaJob</string>
	<key>compositionTaskDuration</key>
	<string>keyHistogramHue</string>
	<key>fixedSubscriptionResponse</key>
	<string>immediateHashTop</string>
	<key>pageviewBesideBuffer</key>
	<string>eventVisitorShape</string>
	<key>previewAndJob</key>
	<string>hashOrValue</string>
	<key>reducerInterpreterDelay</key>
	<string>singletonShapeFormat</string>
	<key>reusableChannelOpacity</key>
	<string>histogramShapeBrightness</string>
	<key>scenePerEnvironment</key>
	<string>priorityJobIndex</string>
	<key>secondTransformerTint</key>
	<string>cellMementoVelocity</string>
	<key>similarVectorShade</key>
	<string>scrollableSliderBottom</string>
</dict>
</plist>
