<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedBorderOrientation</key>
	<string>layoutParameterBorder</string>
	<key>checklistVariablePosition</key>
	<string>segueThanKind</string>
	<key>criticalAlignmentForce</key>
	<string>independentResultTag</string>
	<key>layerObserverSpeed</key>
	<string>certificateFacadeKind</string>
	<key>positionLevelAlignment</key>
	<string>hardResponseContrast</string>
</dict>
</plist>
