<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicGrayscaleDuration</key>
	<string>resizableTabbarAlignment</string>
	<key>interpolationPrototypeScale</key>
	<string>composableTweenPosition</string>
	<key>labelTempleRate</key>
	<string>geometricVectorPosition</string>
	<key>richtextPrototypeFormat</key>
	<string>sceneFromAction</string>
	<key>scrollableScaffoldContrast</key>
	<string>sortedMethodInteraction</string>
</dict>
</plist>
