<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferTempleVisibility</key>
	<string>alignmentWithStage</string>
	<key>consultativeWidgetDensity</key>
	<string>equalizationModeDirection</string>
	<key>decorationDuringCycle</key>
	<string>diffableErrorInset</string>
	<key>effectNearTier</key>
	<string>basicPositionPressure</string>
	<key>errorSingletonAcceleration</key>
	<string>ephemeralTimerTop</string>
	<key>injectionDuringLevel</key>
	<string>cacheByCommand</string>
	<key>integerStrategyOrientation</key>
	<string>smartSampleMomentum</string>
	<key>invisibleTernaryFlags</key>
	<string>intuitiveBaseTag</string>
	<key>sortedQueueCenter</key>
	<string>effectThroughKind</string>
	<key>techniqueAboutStyle</key>
	<string>sliderCommandLeft</string>
</dict>
</plist>
