<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTextTail</key>
	<string>curveParameterScale</string>
	<key>contractionTierInterval</key>
	<string>draggableCurveMode</string>
	<key>lostFutureBottom</key>
	<string>hardBlocTop</string>
	<key>normalAllocatorSize</key>
	<string>mainGiftShape</string>
	<key>resolverDuringPlatform</key>
	<string>lostResolverMargin</string>
	<key>spineObserverCenter</key>
	<string>iconStateTransparency</string>
	<key>tappableAxisScale</key>
	<string>resolverOfForm</string>
	<key>transformerThroughFunction</key>
	<string>subpixelAmongWork</string>
</dict>
</plist>
