<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAndBuffer</key>
	<string>labelStructureRight</string>
	<key>completerContainShape</key>
	<string>multiGramDensity</string>
	<key>isolateStrategyMomentum</key>
	<string>accessibleCompositionBound</string>
	<key>managerStyleColor</key>
	<string>storyboardVarHead</string>
	<key>spotAroundPrototype</key>
	<string>spritePlatformOffset</string>
	<key>storageProxyAppearance</key>
	<string>viewTierDirection</string>
</dict>
</plist>
