<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushOrBuffer</key>
	<string>controllerAtBuffer</string>
	<key>constraintPerMemento</key>
	<string>graphPlatformBorder</string>
	<key>containerViaParam</key>
	<string>painterVisitorOpacity</string>
	<key>disparateMarginDuration</key>
	<string>cursorLevelMode</string>
	<key>mainAsyncTint</key>
	<string>relationalSemanticsCount</string>
	<key>monsterForStructure</key>
	<string>resultAmongMode</string>
	<key>progressbarFacadeStatus</key>
	<string>containerAwayStyle</string>
	<key>protectedLogarithmContrast</key>
	<string>singletonAwayScope</string>
	<key>resourceFromAdapter</key>
	<string>labelPhaseContrast</string>
	<key>storeOperationAcceleration</key>
	<string>standaloneTextureLocation</string>
</dict>
</plist>
