<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAboutAction</key>
	<string>projectInsideCommand</string>
	<key>constraintWithoutPhase</key>
	<string>parallelThemeVisible</string>
	<key>navigationStageSize</key>
	<string>symbolKindTail</string>
	<key>painterCommandDensity</key>
	<string>lostContainerVisible</string>
	<key>particleVersusShape</key>
	<string>subscriptionAlongFramework</string>
	<key>relationalResolverVelocity</key>
	<string>webCoordinatorFormat</string>
	<key>smartSpecifierForce</key>
	<string>boxValueBound</string>
</dict>
</plist>
