<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionAwayStrategy</key>
	<string>apertureViaTemple</string>
	<key>criticalMapVisibility</key>
	<string>activityNumberTail</string>
	<key>descriptionViaObserver</key>
	<string>unaryCompositeEdge</string>
	<key>granularSignatureTag</key>
	<string>dropdownbuttonFromType</string>
	<key>keyCycleDensity</key>
	<string>offsetLevelLeft</string>
	<key>methodByContext</key>
	<string>logarithmContainSingleton</string>
	<key>nextErrorVelocity</key>
	<string>notifierStateFlags</string>
	<key>observerCycleOrigin</key>
	<string>observerDuringOperation</string>
	<key>taskPrototypeDirection</key>
	<string>mainHeapDirection</string>
	<key>titleValueCenter</key>
	<string>eagerListviewOrigin</string>
</dict>
</plist>
