<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedRouteTail</key>
	<string>signatureAtLevel</string>
	<key>asynchronousTransitionDelay</key>
	<string>statefulMementoBehavior</string>
	<key>errorEnvironmentFeedback</key>
	<string>mainVectorInterval</string>
	<key>heroPatternPadding</key>
	<string>scaleTypeDepth</string>
	<key>petDecoratorPadding</key>
	<string>playbackIncludeStructure</string>
	<key>playbackAgainstType</key>
	<string>particleModeMode</string>
	<key>segueAdapterType</key>
	<string>tableNearVisitor</string>
</dict>
</plist>
