<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directMaterialSkewx</key>
	<string>giftAtPrototype</string>
	<key>fixedTitleAlignment</key>
	<string>largeMultiplicationShape</string>
	<key>interactorMementoDuration</key>
	<string>grainThroughObserver</string>
</dict>
</plist>
