<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderIncludeType</key>
	<string>prismaticContainerMomentum</string>
	<key>directlyRepositoryState</key>
	<string>delicatePreviewShape</string>
	<key>resilientMobxDistance</key>
	<string>touchBeyondLayer</string>
	<key>sizedboxThanObserver</key>
	<string>navigatorFunctionIndex</string>
	<key>storageObserverTint</key>
	<string>scrollStateFlags</string>
	<key>storageOrFramework</key>
	<string>getxPrototypeCount</string>
</dict>
</plist>
