<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAndMediator</key>
	<string>checkboxAtAction</string>
	<key>diffableBitrateVelocity</key>
	<string>significantAxisRight</string>
	<key>grainStructureDirection</key>
	<string>titleThroughScope</string>
	<key>materialErrorTension</key>
	<string>certificateWithParam</string>
</dict>
</plist>
