<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushTierMode</key>
	<string>delegateIncludeMode</string>
	<key>layerBesideNumber</key>
	<string>resilientSingletonContrast</string>
	<key>offsetNearSystem</key>
	<string>queryInterpreterStatus</string>
	<key>originalChartInteraction</key>
	<string>subtleSinkInteraction</string>
	<key>pointExceptParameter</key>
	<string>storyboardTaskType</string>
	<key>prismaticSubscriptionVisible</key>
	<string>ephemeralAnimatedcontainerRight</string>
	<key>tappableAspectPosition</key>
	<string>shaderThanForm</string>
	<key>textObserverColor</key>
	<string>captionViaObserver</string>
	<key>textThroughValue</key>
	<string>relationalThemeFormat</string>
	<key>uniformSwiftSize</key>
	<string>standaloneDescriptionInset</string>
</dict>
</plist>
