<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicRouterBottom</key>
	<string>positionLevelBottom</string>
	<key>ephemeralConstraintForce</key>
	<string>providerAndAdapter</string>
	<key>euclideanLocalizationShade</key>
	<string>taskVersusStructure</string>
	<key>gemOutsideStyle</key>
	<string>positionedBeyondJob</string>
	<key>marginVariableVisibility</key>
	<string>marginThroughCommand</string>
	<key>methodInAction</key>
	<string>multiplicationThroughMemento</string>
	<key>rectForVariable</key>
	<string>temporarySizeTension</string>
	<key>usedSubscriptionTop</key>
	<string>metadataBesideWork</string>
</dict>
</plist>
