<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicActivityBottom</key>
	<string>graphPhaseResponse</string>
	<key>exceptionShapeInteraction</key>
	<string>offsetNearProxy</string>
	<key>modelKindPressure</key>
	<string>crudeConstraintStatus</string>
	<key>navigationWithoutEnvironment</key>
	<string>dropdownbuttonFormBehavior</string>
	<key>positionOrFramework</key>
	<string>getxAdapterRight</string>
	<key>shaderNearScope</key>
	<string>pinchableDelegateFrequency</string>
	<key>similarCompositionForce</key>
	<string>methodInMemento</string>
	<key>statelessSliderBorder</key>
	<string>sharedLoopCenter</string>
</dict>
</plist>
