<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferStructureRotation</key>
	<string>storyboardEnvironmentVelocity</string>
	<key>compositionalMediaqueryBottom</key>
	<string>containerNumberRight</string>
	<key>expandedActivityLeft</key>
	<string>compositionalCapsuleBrightness</string>
</dict>
</plist>
