<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalStatefulBehavior</key>
	<string>vectorTierSkewy</string>
	<key>missionBesideStyle</key>
	<string>subtleStorageBrightness</string>
	<key>routePlatformOrientation</key>
	<string>sequentialAnimationContrast</string>
	<key>sinkThanScope</key>
	<string>flexVariableDuration</string>
</dict>
</plist>
