<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeContextShade</key>
	<string>buttonIncludeState</string>
	<key>criticalBorderOpacity</key>
	<string>easyVectorDuration</string>
	<key>cupertinoPatternDepth</key>
	<string>cupertinoInterpreterFrequency</string>
	<key>integerDuringCommand</key>
	<string>discardedEntropyInset</string>
	<key>viewStructureRotation</key>
	<string>reducerStrategySkewy</string>
</dict>
</plist>
