<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetWithoutNumber</key>
	<string>groupAsStage</string>
	<key>chapterTypeRate</key>
	<string>controllerNearFlyweight</string>
	<key>kernelAmongComposite</key>
	<string>permanentModalTail</string>
	<key>menuContainDecorator</key>
	<string>accessibleFeatureIndex</string>
	<key>respectiveExponentHead</key>
	<string>featureAlongShape</string>
	<key>semanticDescriptorAppearance</key>
	<string>musicVisitorPosition</string>
	<key>titleByJob</key>
	<string>baseInSingleton</string>
</dict>
</plist>
