<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryThroughComposite</key>
	<string>streamVarStatus</string>
	<key>explicitHeapForce</key>
	<string>giftMethodScale</string>
	<key>getxExceptTemple</key>
	<string>uniqueSpriteTag</string>
	<key>layerNearParameter</key>
	<string>commandOutsideBuffer</string>
	<key>rectTypeCenter</key>
	<string>channelPrototypeInset</string>
	<key>resolverWithoutTemple</key>
	<string>appbarSystemRotation</string>
	<key>sharedFactoryDepth</key>
	<string>otherStatelessDistance</string>
	<key>streamNearForm</key>
	<string>customSampleBottom</string>
	<key>tablePatternSkewy</key>
	<string>localizationAgainstWork</string>
</dict>
</plist>
