<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAxisVelocity</key>
	<string>brushThroughChain</string>
	<key>mobileContainValue</key>
	<string>missedHistogramLeft</string>
	<key>respectiveRouteTheme</key>
	<string>scrollableAwaitStyle</string>
	<key>significantUsagePadding</key>
	<string>nextEqualizationName</string>
	<key>sortedWidgetHead</key>
	<string>enabledButtonOrientation</string>
	<key>tabviewThanBridge</key>
	<string>interactorKindBorder</string>
	<key>taskCompositeState</key>
	<string>inkwellPatternShape</string>
	<key>textureCompositeBrightness</key>
	<string>remainderCommandPosition</string>
</dict>
</plist>
