<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasIncludePhase</key>
	<string>lostBuilderBehavior</string>
	<key>delicateBoxDirection</key>
	<string>referenceOrSingleton</string>
	<key>difficultCycleStatus</key>
	<string>sustainableButtonCount</string>
	<key>particleDuringOperation</key>
	<string>draggableHandlerAppearance</string>
	<key>playbackThroughInterpreter</key>
	<string>drawerNearInterpreter</string>
	<key>previewMediatorDirection</key>
	<string>subpixelNearEnvironment</string>
	<key>rapidDurationAppearance</key>
	<string>radioSinceStage</string>
	<key>sustainableGrainDistance</key>
	<string>rowVariableOrigin</string>
</dict>
</plist>
