<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletDuringStage</key>
	<string>offsetPerInterpreter</string>
	<key>constFutureDelay</key>
	<string>significantHandlerFormat</string>
	<key>curveParameterTension</key>
	<string>alignmentParameterBound</string>
	<key>keyAllocatorPosition</key>
	<string>elasticTickerHue</string>
	<key>listenerAsLevel</key>
	<string>resolverOperationBrightness</string>
	<key>logarithmAsFunction</key>
	<string>cubitSinceOperation</string>
	<key>usageNearType</key>
	<string>priorCompleterVisible</string>
	<key>usedPreviewBrightness</key>
	<string>ternaryParameterBorder</string>
	<key>viewAroundParameter</key>
	<string>navigatorUntilVisitor</string>
</dict>
</plist>
