<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directReferenceStatus</key>
	<string>compositionWorkOffset</string>
	<key>integerAtScope</key>
	<string>pointKindTop</string>
	<key>mobxDespiteParameter</key>
	<string>paddingAgainstMethod</string>
	<key>stackFromObserver</key>
	<string>mobileStreamDuration</string>
</dict>
</plist>
