<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentActivityDensity</key>
	<string>titleBesideWork</string>
	<key>aspectMediatorLeft</key>
	<string>riverpodStructureValidation</string>
	<key>captionVersusPlatform</key>
	<string>subsequentLossInterval</string>
	<key>consumerPhaseTop</key>
	<string>criticalDelegateScale</string>
	<key>decorationByDecorator</key>
	<string>providerOutsideTask</string>
	<key>diffableBatchTop</key>
	<string>asyncTaskShape</string>
	<key>ephemeralEventLeft</key>
	<string>textureIncludeForm</string>
	<key>progressbarCompositeAcceleration</key>
	<string>alertPatternIndex</string>
	<key>relationalBuilderTint</key>
	<string>previewChainCenter</string>
</dict>
</plist>
