<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexTypePadding</key>
	<string>seamlessCompleterMomentum</string>
	<key>giftProxyDelay</key>
	<string>crucialSingletonDuration</string>
	<key>groupBufferBrightness</key>
	<string>variantPrototypeVisible</string>
	<key>projectionUntilKind</key>
	<string>interfaceUntilMode</string>
	<key>statelessMobxVelocity</key>
	<string>curveLikeVariable</string>
	<key>symbolProxyOffset</key>
	<string>bitratePrototypeEdge</string>
	<key>titleWithoutStage</key>
	<string>mainMarginOrigin</string>
	<key>vectorBesideJob</key>
	<string>borderBeyondStyle</string>
</dict>
</plist>
