<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateCursorContrast</key>
	<string>buttonStrategyRotation</string>
	<key>denseInjectionPressure</key>
	<string>otherTextInterval</string>
	<key>dimensionAmongSingleton</key>
	<string>crucialAssetName</string>
	<key>hardMenuKind</key>
	<string>modelSystemShade</string>
	<key>missedTransitionBottom</key>
	<string>missedListenerPressure</string>
	<key>requestIncludeComposite</key>
	<string>discardedSignatureDistance</string>
	<key>textureThroughMode</key>
	<string>cellParameterTail</string>
</dict>
</plist>
