<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorPrototypeSkewx</key>
	<string>responsiveCurveStyle</string>
	<key>injectionInType</key>
	<string>uniqueCosineSize</string>
	<key>serviceVisitorShade</key>
	<string>granularEffectStatus</string>
	<key>widgetViaFunction</key>
	<string>rectContainParam</string>
</dict>
</plist>
