<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactiveGiftTransparency</key>
	<string>entityMementoValidation</string>
	<key>statelessFromStrategy</key>
	<string>anchorAboutContext</string>
	<key>stepValueMode</key>
	<string>bulletTypeFrequency</string>
</dict>
</plist>
