<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioContainObserver</key>
	<string>resilientRoleMomentum</string>
	<key>composablePrecisionSize</key>
	<string>titleSinceType</string>
	<key>dedicatedFrameSize</key>
	<string>prevCompositionSkewx</string>
	<key>dropdownbuttonOutsideAdapter</key>
	<string>finalAxisPressure</string>
	<key>immutableProgressbarAcceleration</key>
	<string>navigatorIncludeBuffer</string>
	<key>isolateWithoutFacade</key>
	<string>binaryAboutVariable</string>
	<key>pinchableChannelKind</key>
	<string>custompaintMethodInteraction</string>
	<key>sortedFragmentOffset</key>
	<string>tickerObserverFeedback</string>
	<key>unactivatedConvolutionTension</key>
	<string>zonePrototypeTag</string>
</dict>
</plist>
