<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxNumberEdge</key>
	<string>greatSliderOrigin</string>
	<key>crucialTimerState</key>
	<string>semanticsParamSpeed</string>
	<key>enabledPrecisionTop</key>
	<string>draggableImageTransparency</string>
	<key>integerCommandDuration</key>
	<string>resolverAroundFacade</string>
	<key>reactiveAlphaDistance</key>
	<string>builderBeyondPattern</string>
	<key>spriteInMediator</key>
	<string>uniqueDurationType</string>
</dict>
</plist>
