<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopCanvasDuration</key>
	<string>checklistAmongLayer</string>
	<key>particleExceptStructure</key>
	<string>movementAmongVar</string>
	<key>protectedGridPosition</key>
	<string>cursorTaskValidation</string>
</dict>
</plist>
