<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonSpotOffset</key>
	<string>otherPrecisionMomentum</string>
	<key>concreteChannelsDistance</key>
	<string>allocatorAwayVariable</string>
	<key>constraintJobBehavior</key>
	<string>notifierThanNumber</string>
	<key>heapUntilActivity</key>
	<string>fragmentDespiteCycle</string>
	<key>nativeUtilTheme</key>
	<string>labelWorkDepth</string>
	<key>queueVersusWork</key>
	<string>particleScopeTag</string>
</dict>
</plist>
