<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleInterfaceBound</key>
	<string>consultativeEqualizationCoord</string>
	<key>activityTempleBehavior</key>
	<string>popupThroughFacade</string>
	<key>convolutionVariableRight</key>
	<string>loopForStructure</string>
	<key>cycleDespiteShape</key>
	<string>singletonPerStage</string>
	<key>greatViewSkewx</key>
	<string>sessionModePosition</string>
	<key>isolateBufferCoord</key>
	<string>positionOperationDelay</string>
	<key>transformerAsParameter</key>
	<string>unsortedBehaviorOrigin</string>
</dict>
</plist>
