<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushVersusEnvironment</key>
	<string>adaptiveSceneAppearance</string>
	<key>gestureMediatorDirection</key>
	<string>pivotalRowTheme</string>
	<key>injectionForPattern</key>
	<string>positionIncludeStage</string>
	<key>routeIncludeStructure</key>
	<string>nextTouchSkewy</string>
	<key>sustainableResolverBottom</key>
	<string>overlayProxyAcceleration</string>
	<key>symmetricMapAlignment</key>
	<string>tableBeyondPhase</string>
</dict>
</plist>
