<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalConsumerRotation</key>
	<string>mutableGrainSkewx</string>
	<key>notifierThanStrategy</key>
	<string>missionObserverPressure</string>
	<key>progressbarAlongMethod</key>
	<string>dialogsAroundJob</string>
	<key>repositoryStateVisibility</key>
	<string>borderAgainstProxy</string>
	<key>textForScope</key>
	<string>providerFunctionDepth</string>
	<key>timerAmongBuffer</key>
	<string>methodAlongBridge</string>
</dict>
</plist>
