<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFunctionTag</key>
	<string>hierarchicalTabviewDirection</string>
	<key>customizedRouteLocation</key>
	<string>isolateIncludeMediator</string>
	<key>greatCompleterShade</key>
	<string>bulletPlatformInteraction</string>
	<key>lostAwaitType</key>
	<string>rapidProjectionInterval</string>
	<key>methodAmongStyle</key>
	<string>awaitPerPrototype</string>
	<key>sustainableEntropyCenter</key>
	<string>standaloneResourceScale</string>
	<key>temporaryGetxName</key>
	<string>composableSizeBottom</string>
	<key>typicalBoxshadowDirection</key>
	<string>composableRectOrientation</string>
</dict>
</plist>
