<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveEntityInterval</key>
	<string>commonRouterCount</string>
	<key>alertContextVelocity</key>
	<string>controllerVersusFacade</string>
	<key>cartesianTimerColor</key>
	<string>storageStyleLocation</string>
	<key>descriptorForTier</key>
	<string>constraintDuringEnvironment</string>
	<key>euclideanRouteType</key>
	<string>chartPhaseDistance</string>
	<key>inkwellTaskAlignment</key>
	<string>convolutionFromVar</string>
	<key>prevMenuShape</key>
	<string>disabledResolverSkewy</string>
	<key>tweenTypeTag</key>
	<string>viewByFramework</string>
</dict>
</plist>
