<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCustompaintRate</key>
	<string>adaptiveRouteColor</string>
	<key>documentByMediator</key>
	<string>primaryOverlayDirection</string>
	<key>imageKindMomentum</key>
	<string>tabbarObserverCount</string>
	<key>inkwellFromMediator</key>
	<string>profileAtBridge</string>
	<key>localBatchInteraction</key>
	<string>errorThanVar</string>
	<key>overlayAtTask</key>
	<string>transitionMediatorSpeed</string>
	<key>resilientGraphResponse</key>
	<string>intensitySinceProxy</string>
	<key>storeThanParam</key>
	<string>axisInsideAdapter</string>
	<key>tensorAspectState</key>
	<string>buttonDecoratorFlags</string>
	<key>tickerThroughSingleton</key>
	<string>taskAlongLevel</string>
</dict>
</plist>
