<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioChainFlags</key>
	<string>errorInStage</string>
	<key>cardFrameworkSpeed</key>
	<string>capacitiesInsideActivity</string>
	<key>masterStructureKind</key>
	<string>effectStateOrientation</string>
	<key>menuBridgePadding</key>
	<string>riverpodDespiteForm</string>
	<key>movementTypeLocation</key>
	<string>enabledSwiftResponse</string>
	<key>previewExceptMode</key>
	<string>asyncLevelInteraction</string>
	<key>responsiveChecklistStatus</key>
	<string>radiusBufferDuration</string>
	<key>richtextThanMode</key>
	<string>singletonDuringCycle</string>
	<key>sliderSingletonSpacing</key>
	<string>listviewStatePressure</string>
	<key>smallObserverCenter</key>
	<string>secondStorageVisible</string>
</dict>
</plist>
