<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferStageTint</key>
	<string>deferredBufferTail</string>
	<key>chapterExceptTask</key>
	<string>mobileStackHead</string>
	<key>errorWithAdapter</key>
	<string>routerParameterCoord</string>
	<key>independentSinkKind</key>
	<string>sizedboxEnvironmentHead</string>
	<key>particleAsSystem</key>
	<string>adaptiveGetxShape</string>
	<key>robustAwaitLeft</key>
	<string>mediaAtValue</string>
	<key>specifierWithoutSingleton</key>
	<string>captionProxyRight</string>
	<key>tableMementoPressure</key>
	<string>spriteAsMethod</string>
</dict>
</plist>
