<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerViaMemento</key>
	<string>riverpodOutsideState</string>
	<key>asyncDuringParameter</key>
	<string>constraintAlongChain</string>
	<key>consultativeAnimationPressure</key>
	<string>boxshadowAlongMediator</string>
	<key>robustCubeValidation</key>
	<string>imageBufferLeft</string>
	<key>seamlessLayerSpeed</key>
	<string>tensorPageviewBottom</string>
	<key>sessionBeyondStyle</key>
	<string>secondPopupDuration</string>
</dict>
</plist>
