<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletLayerBound</key>
	<string>delegateDecoratorStyle</string>
	<key>callbackProcessLocation</key>
	<string>callbackLevelHead</string>
	<key>navigationValueTint</key>
	<string>reductionThanLayer</string>
	<key>notifierStrategyDirection</key>
	<string>catalystNearPrototype</string>
	<key>priorityOrComposite</key>
	<string>profileContainLevel</string>
	<key>sophisticatedDescriptionDepth</key>
	<string>dynamicTweenPadding</string>
</dict>
</plist>
