<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowStyleName</key>
	<string>sortedMobileOrientation</string>
	<key>greatLayerSkewx</key>
	<string>parallelLayoutDistance</string>
	<key>semanticDropdownbuttonType</key>
	<string>reactiveImageLocation</string>
	<key>temporaryOffsetHead</key>
	<string>positionJobSize</string>
</dict>
</plist>
