<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileIntegerShape</key>
	<string>toolInsideCycle</string>
	<key>chartInFunction</key>
	<string>flexInterpreterVelocity</string>
	<key>curveActivityMargin</key>
	<string>spriteFunctionDistance</string>
	<key>globalNotifierStyle</key>
	<string>exceptionStageSaturation</string>
	<key>graphAlongCommand</key>
	<string>curveTaskIndex</string>
	<key>immediateAnimationBound</key>
	<string>clipperWorkContrast</string>
	<key>offsetIncludePattern</key>
	<string>cosineValueAcceleration</string>
	<key>responsiveDropdownbuttonDistance</key>
	<string>intuitiveWorkflowSpeed</string>
	<key>signatureAboutSingleton</key>
	<string>keyMenuVisible</string>
	<key>storageProxyPadding</key>
	<string>actionExceptLayer</string>
</dict>
</plist>
