<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedTransformerSpeed</key>
	<string>curveOperationStyle</string>
	<key>entityWithoutShape</key>
	<string>heroKindFeedback</string>
	<key>indicatorThanComposite</key>
	<string>statelessOrType</string>
	<key>menuPhaseSpeed</key>
	<string>errorVersusStyle</string>
	<key>optionAsTask</key>
	<string>ignoredLayerFlags</string>
</dict>
</plist>
