<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>memberBridgeDuration</key>
	<string>gateSystemTension</string>
	<key>petWorkTransparency</key>
	<string>seamlessTextureSkewy</string>
	<key>queryFrameworkColor</key>
	<string>imageFormOffset</string>
</dict>
</plist>
