<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintForParameter</key>
	<string>effectParameterRotation</string>
	<key>crucialHeapResponse</key>
	<string>usedTextSpacing</string>
	<key>cubitExceptShape</key>
	<string>projectPerProcess</string>
	<key>drawerBesideParameter</key>
	<string>compositionOutsideObserver</string>
	<key>dropdownbuttonInsideVariable</key>
	<string>constResourceState</string>
	<key>gridModeBehavior</key>
	<string>swiftAmongStrategy</string>
	<key>normContextBehavior</key>
	<string>unactivatedProgressbarState</string>
	<key>previewDespiteStructure</key>
	<string>independentTransitionCount</string>
	<key>retainedConstraintBottom</key>
	<string>invisibleSizeRight</string>
</dict>
</plist>
