<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionAgainstTier</key>
	<string>switchVersusInterpreter</string>
	<key>cartesianPositionedHue</key>
	<string>constraintParameterBehavior</string>
	<key>criticalRichtextRate</key>
	<string>storageFlyweightColor</string>
	<key>intermediateNavigationBehavior</key>
	<string>opaqueRepositoryOffset</string>
	<key>marginPerParameter</key>
	<string>interfaceDuringPlatform</string>
	<key>particleVariablePressure</key>
	<string>arithmeticStyleDuration</string>
	<key>rapidControllerTail</key>
	<string>multiGraphVisibility</string>
</dict>
</plist>
