<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricChartResponse</key>
	<string>animatedDescriptionFeedback</string>
	<key>mediocreConsumerCount</key>
	<string>intermediateAlertFrequency</string>
	<key>multiCommandIndex</key>
	<string>nativeSpecifierFlags</string>
	<key>particleAwayVariable</key>
	<string>roleAgainstContext</string>
	<key>profileActionResponse</key>
	<string>substantialInteractorInset</string>
	<key>rectActionInterval</key>
	<string>secondDecorationInset</string>
	<key>textCompositeKind</key>
	<string>protocolAdapterEdge</string>
</dict>
</plist>
