<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleStrategyState</key>
	<string>significantDropdownbuttonTheme</string>
	<key>labelAtFramework</key>
	<string>crudePresenterShade</string>
	<key>normAroundTier</key>
	<string>transitionStateBorder</string>
	<key>normalSemanticsHead</key>
	<string>mobileReferenceHead</string>
	<key>offsetAmongFramework</key>
	<string>seamlessHandlerPadding</string>
	<key>statelessVersusParam</key>
	<string>blocChainStatus</string>
	<key>subtleSubpixelBottom</key>
	<string>constraintTempleForce</string>
	<key>tappableTaskVisible</key>
	<string>exponentActivityTheme</string>
</dict>
</plist>
