<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushAsFacade</key>
	<string>tensorDialogsFeedback</string>
	<key>constCallbackLeft</key>
	<string>beginnerOverlayOrientation</string>
	<key>cupertinoNormTail</key>
	<string>comprehensiveGetxCount</string>
	<key>customizedInteractorStatus</key>
	<string>widgetObserverKind</string>
	<key>observerLevelRight</key>
	<string>promiseOperationTail</string>
	<key>radiusAgainstInterpreter</key>
	<string>controllerAndPlatform</string>
	<key>semanticConstraintContrast</key>
	<string>completerThanMethod</string>
	<key>storyboardChainLocation</key>
	<string>opaqueAxisType</string>
	<key>techniqueStageFlags</key>
	<string>swiftPlatformInteraction</string>
</dict>
</plist>
