<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetScopeShade</key>
	<string>logEnvironmentDistance</string>
	<key>denseSegmentOrigin</key>
	<string>specifyReducerInset</string>
	<key>flexAtProcess</key>
	<string>agileScaleTag</string>
	<key>greatSubscriptionSkewx</key>
	<string>durationObserverOpacity</string>
	<key>providerPerLayer</key>
	<string>configurationOperationFormat</string>
	<key>sceneThanPrototype</key>
	<string>isolateAdapterMomentum</string>
	<key>transitionThroughMediator</key>
	<string>sampleActionState</string>
	<key>zoneIncludeLevel</key>
	<string>permanentStorePadding</string>
</dict>
</plist>
