<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetFromCycle</key>
	<string>consumerBufferMomentum</string>
	<key>gridviewAsProcess</key>
	<string>decorationForComposite</string>
	<key>hyperbolicResolverOpacity</key>
	<string>inheritedBufferSpacing</string>
	<key>lastThreadBrightness</key>
	<string>textureInterpreterDepth</string>
	<key>relationalGiftOffset</key>
	<string>resolverAmongLayer</string>
	<key>rowBesideDecorator</key>
	<string>loopOutsidePrototype</string>
</dict>
</plist>
