<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturedetectorFrameworkRight</key>
	<string>exceptionKindDistance</string>
	<key>gridBesideObserver</key>
	<string>clipperBufferStyle</string>
	<key>localizationStageOffset</key>
	<string>durationWithJob</string>
	<key>substantialStampOrigin</key>
	<string>projectAmongStrategy</string>
</dict>
</plist>
