<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableLayerFlags</key>
	<string>delegateFrameworkOpacity</string>
	<key>listenerWithWork</key>
	<string>originalStoreOffset</string>
	<key>nativeAwaitVisibility</key>
	<string>backwardTaskResponse</string>
	<key>significantProfileOrigin</key>
	<string>cupertinoByAdapter</string>
	<key>sliderSinceFacade</key>
	<string>zoneAgainstObserver</string>
</dict>
</plist>
