<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customButtonOffset</key>
	<string>radiusFormStyle</string>
	<key>giftDespitePattern</key>
	<string>immutableChapterIndex</string>
	<key>isolateVersusProcess</key>
	<string>tweenFromTier</string>
	<key>keyHandlerBehavior</key>
	<string>mediumEntityForce</string>
	<key>navigatorAmongFlyweight</key>
	<string>newestImageInset</string>
	<key>permanentInteractorForce</key>
	<string>sortedHeroEdge</string>
	<key>permissiveTextAcceleration</key>
	<string>sustainableCompletionFormat</string>
	<key>projectionThanPlatform</key>
	<string>characterValueLeft</string>
	<key>textOutsideBridge</key>
	<string>lossWithMethod</string>
	<key>utilExceptStrategy</key>
	<string>basicAllocatorOrigin</string>
</dict>
</plist>
