<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAsAdapter</key>
	<string>baseLevelHead</string>
	<key>cycleJobVisible</key>
	<string>requiredPromiseMargin</string>
	<key>modalAtChain</key>
	<string>factoryStyleTheme</string>
	<key>offsetThanInterpreter</key>
	<string>usedTweenInteraction</string>
	<key>resizableIsolateHead</key>
	<string>spriteBufferInset</string>
	<key>tabbarAgainstEnvironment</key>
	<string>disparateResolverRight</string>
</dict>
</plist>
