<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveEquipmentCoord</key>
	<string>unactivatedViewTail</string>
	<key>checklistJobSkewx</key>
	<string>gateVersusOperation</string>
	<key>commandInterpreterHue</key>
	<string>resolverThroughPhase</string>
	<key>layoutForActivity</key>
	<string>requiredOffsetOrigin</string>
	<key>pageviewSinceMediator</key>
	<string>normalSkinDensity</string>
	<key>positionTypeRate</key>
	<string>singleRequestTint</string>
	<key>semanticsAmongPlatform</key>
	<string>textureViaPlatform</string>
	<key>sliderOutsideFlyweight</key>
	<string>resilientImageDistance</string>
	<key>storeExceptComposite</key>
	<string>statefulModalDirection</string>
	<key>subtleProfileVisibility</key>
	<string>skirtPatternEdge</string>
</dict>
</plist>
