<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grayscaleWorkHead</key>
	<string>desktopTextureShade</string>
	<key>listviewAmongInterpreter</key>
	<string>comprehensiveUsecaseStatus</string>
	<key>matrixViaNumber</key>
	<string>reactiveNotificationShade</string>
	<key>nibProxyPadding</key>
	<string>oldCoordinatorInset</string>
	<key>symmetricDecorationLocation</key>
	<string>accessoryStyleMomentum</string>
</dict>
</plist>
