<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFromVisitor</key>
	<string>signatureDecoratorSaturation</string>
	<key>interactorTypeSpacing</key>
	<string>chapterFromProxy</string>
	<key>intermediateGramScale</key>
	<string>animationAroundAdapter</string>
	<key>sceneLayerOrientation</key>
	<string>autoPopupCount</string>
	<key>spineFunctionName</key>
	<string>cardForCommand</string>
</dict>
</plist>
