<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAsFunction</key>
	<string>sceneAndVisitor</string>
	<key>completionLayerMomentum</key>
	<string>usecaseCycleAlignment</string>
	<key>decorationAtWork</key>
	<string>interactorTaskTheme</string>
	<key>entityActionTint</key>
	<string>baseContextLeft</string>
	<key>equipmentNearForm</key>
	<string>richtextPhasePosition</string>
	<key>intensityAlongPattern</key>
	<string>independentRadioFeedback</string>
	<key>mediaqueryUntilSystem</key>
	<string>metadataFrameworkTail</string>
	<key>prevConvolutionKind</key>
	<string>injectionActivityKind</string>
	<key>sliderPerChain</key>
	<string>cellFrameworkType</string>
	<key>stampDuringPhase</key>
	<string>opaqueGestureSize</string>
</dict>
</plist>
