<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerMethodFlags</key>
	<string>presenterThanNumber</string>
	<key>mediocrePresenterDelay</key>
	<string>activatedProfileTransparency</string>
	<key>nodeStyleTransparency</key>
	<string>injectionAlongFlyweight</string>
	<key>originalReferenceRotation</key>
	<string>gemPhaseBorder</string>
	<key>paddingPhaseBound</key>
	<string>deferredLayerRotation</string>
	<key>stateOrKind</key>
	<string>hyperbolicTechniqueSaturation</string>
</dict>
</plist>
