<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedObserverForce</key>
	<string>repositoryShapeCount</string>
	<key>monsterFlyweightOrientation</key>
	<string>builderUntilEnvironment</string>
	<key>vectorChainOrigin</key>
	<string>subtlePreviewRate</string>
</dict>
</plist>
