<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorTierDepth</key>
	<string>variantPatternOffset</string>
	<key>consumerWithFacade</key>
	<string>oldBatchRotation</string>
	<key>dependencyPlatformValidation</key>
	<string>viewAroundSystem</string>
	<key>futureStructurePressure</key>
	<string>immutableMetadataFlags</string>
	<key>momentumInterpreterCoord</key>
	<string>aspectIncludeNumber</string>
	<key>roleOutsideMemento</key>
	<string>protocolContextFlags</string>
	<key>stampStageShape</key>
	<string>mediumLayoutKind</string>
	<key>textBridgeDuration</key>
	<string>labelDecoratorRotation</string>
	<key>textLevelDistance</key>
	<string>controllerActionInterval</string>
</dict>
</plist>
