<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directSensorVisible</key>
	<string>symbolAdapterCenter</string>
	<key>errorAtKind</key>
	<string>zoneThroughInterpreter</string>
	<key>interactorStyleMomentum</key>
	<string>durationEnvironmentTheme</string>
	<key>kernelStateBehavior</key>
	<string>opaqueStoreFlags</string>
	<key>localizationWithSingleton</key>
	<string>listenerInState</string>
	<key>materialUsagePadding</key>
	<string>delegateBufferMomentum</string>
	<key>serviceOutsidePattern</key>
	<string>timerOperationOpacity</string>
	<key>titleUntilContext</key>
	<string>allocatorAboutStyle</string>
	<key>visibleGemPosition</key>
	<string>progressbarAsFlyweight</string>
	<key>zoneInterpreterColor</key>
	<string>associatedInjectionInterval</string>
</dict>
</plist>
