<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralEntityOrientation</key>
	<string>modelVarTension</string>
	<key>exponentActivityFlags</key>
	<string>smallPromiseTint</string>
	<key>flexOperationDistance</key>
	<string>currentGetxLocation</string>
	<key>streamDuringLayer</key>
	<string>independentTaskIndex</string>
</dict>
</plist>
