<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerContextOrientation</key>
	<string>statelessSkirtState</string>
	<key>commonExponentRotation</key>
	<string>sharedCollectionSkewx</string>
	<key>flexibleHandlerTail</key>
	<string>statelessConfigurationResponse</string>
	<key>lostCursorTension</key>
	<string>pivotalContainerRotation</string>
	<key>movementFromProcess</key>
	<string>movementOutsideChain</string>
	<key>repositoryStyleInteraction</key>
	<string>symmetricEqualizationFormat</string>
	<key>sortedPageviewTag</key>
	<string>petEnvironmentScale</string>
	<key>stepEnvironmentMomentum</key>
	<string>transformerEnvironmentAlignment</string>
	<key>titleLayerShade</key>
	<string>graphInPhase</string>
	<key>unactivatedListenerMode</key>
	<string>usedDimensionDuration</string>
</dict>
</plist>
