<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperChainTension</key>
	<string>draggableNormDepth</string>
	<key>clipperMethodCount</key>
	<string>routerStageTail</string>
	<key>equalizationStyleInset</key>
	<string>rapidControllerShade</string>
	<key>mediocreBlocHue</key>
	<string>routerTempleBorder</string>
	<key>techniqueLikeWork</key>
	<string>decorationInterpreterTension</string>
</dict>
</plist>
