<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionAwayProcess</key>
	<string>actionChainDistance</string>
	<key>chapterInNumber</key>
	<string>anchorWorkHead</string>
	<key>coordinatorInStage</key>
	<string>descriptorAsStage</string>
	<key>dependencyOutsideCycle</key>
	<string>touchActionHue</string>
	<key>functionalBoxRate</key>
	<string>eventForTier</string>
	<key>mapObserverBrightness</key>
	<string>awaitInterpreterBorder</string>
	<key>queryValueCenter</key>
	<string>modalIncludeInterpreter</string>
	<key>subtleStatefulTransparency</key>
	<string>globalTimerFlags</string>
	<key>tappableAsyncEdge</key>
	<string>anchorVariablePadding</string>
	<key>tweenSinceTier</key>
	<string>globalBuilderCoord</string>
</dict>
</plist>
