<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentAxisTail</key>
	<string>signAboutStructure</string>
	<key>immediateWorkflowState</key>
	<string>arithmeticBesideMethod</string>
	<key>interactorSinceTemple</key>
	<string>catalystStateBrightness</string>
	<key>menuInsideTask</key>
	<string>prismaticUsecaseTail</string>
	<key>methodInsideCycle</key>
	<string>inkwellTaskHead</string>
	<key>staticIconResponse</key>
	<string>delegateSinceCycle</string>
	<key>staticKernelShape</key>
	<string>parallelSingletonOpacity</string>
	<key>transitionFacadeVelocity</key>
	<string>pivotalExceptionOrigin</string>
</dict>
</plist>
