<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoColumnFormat</key>
	<string>crudeChartSkewx</string>
	<key>autoCompleterTransparency</key>
	<string>checkboxThroughCommand</string>
	<key>disparateSinkMargin</key>
	<string>mapTypeFlags</string>
	<key>dynamicCatalystTag</key>
	<string>finalCurveRight</string>
	<key>firstSignatureInteraction</key>
	<string>gridAlongNumber</string>
	<key>precisionActionKind</key>
	<string>allocatorForFramework</string>
	<key>singleRowRotation</key>
	<string>firstCollectionRight</string>
</dict>
</plist>
