<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAboutCommand</key>
	<string>dependencyContainForm</string>
	<key>hashActivityVelocity</key>
	<string>queueInterpreterDirection</string>
	<key>ignoredGridVisible</key>
	<string>draggableFactoryRight</string>
	<key>indicatorVariableDelay</key>
	<string>persistentGestureLeft</string>
	<key>musicBeyondDecorator</key>
	<string>exponentNumberOpacity</string>
	<key>notifierUntilType</key>
	<string>navigatorTaskFrequency</string>
	<key>prismaticErrorTint</key>
	<string>tappableRadiusName</string>
	<key>segueProxyOpacity</key>
	<string>responsiveChapterDuration</string>
</dict>
</plist>
