<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePhaseTag</key>
	<string>criticalSingletonIndex</string>
	<key>beginnerLocalizationPressure</key>
	<string>integerAndFacade</string>
	<key>borderStateRotation</key>
	<string>accessoryBridgeCenter</string>
	<key>controllerAwayActivity</key>
	<string>entropyLikeMode</string>
	<key>disabledCommandTag</key>
	<string>invisibleAlphaStyle</string>
	<key>durationLayerSaturation</key>
	<string>spotSingletonTheme</string>
	<key>futureWithCommand</key>
	<string>mediocreConstraintSpeed</string>
	<key>reducerWithTier</key>
	<string>retainedObserverVelocity</string>
	<key>statelessRichtextKind</key>
	<string>iconInProxy</string>
	<key>webTextureFrequency</key>
	<string>chapterBridgeOrientation</string>
</dict>
</plist>
