<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateEnvironmentShade</key>
	<string>compositionalSizeInteraction</string>
	<key>imageUntilParameter</key>
	<string>significantSlashBorder</string>
	<key>shaderStrategyMode</key>
	<string>futureUntilScope</string>
	<key>specifyVariantFeedback</key>
	<string>listviewAndForm</string>
	<key>topicFrameworkTransparency</key>
	<string>cardWorkDensity</string>
	<key>zoneCycleCount</key>
	<string>gemActionTheme</string>
</dict>
</plist>
