<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intermediateDrawerVisible</key>
	<string>storeActionSkewy</string>
	<key>navigatorFlyweightTheme</key>
	<string>spineThanAction</string>
	<key>observerInsideMethod</key>
	<string>particleJobMode</string>
	<key>riverpodForWork</key>
	<string>finalMenuDuration</string>
	<key>significantVectorKind</key>
	<string>normalWidgetCoord</string>
</dict>
</plist>
