<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedAccessoryColor</key>
	<string>temporarySinkInset</string>
	<key>difficultFlexBound</key>
	<string>awaitFlyweightInset</string>
	<key>newestErrorName</key>
	<string>grainProxySkewy</string>
	<key>painterDuringState</key>
	<string>rapidParticleFrequency</string>
	<key>routeSystemCount</key>
	<string>prismaticCommandAlignment</string>
	<key>storeChainBrightness</key>
	<string>durationLikeAdapter</string>
	<key>unactivatedProviderMode</key>
	<string>transitionActionMargin</string>
	<key>uniqueTabviewBorder</key>
	<string>statefulViaMethod</string>
</dict>
</plist>
