<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectTypeVisible</key>
	<string>inactiveModelFormat</string>
	<key>chapterModeAlignment</key>
	<string>signTempleVisible</string>
	<key>elasticMarginAppearance</key>
	<string>coordinatorAdapterIndex</string>
	<key>gestureDuringMediator</key>
	<string>commonOptimizerMomentum</string>
	<key>giftWorkSkewx</key>
	<string>frameContainLevel</string>
	<key>monsterInPattern</key>
	<string>materialSystemShade</string>
	<key>resultWithoutFlyweight</key>
	<string>statefulModeInteraction</string>
	<key>serviceStageOffset</key>
	<string>painterFlyweightValidation</string>
</dict>
</plist>
