<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerAmongJob</key>
	<string>customizedCurveFormat</string>
	<key>cupertinoAsyncIndex</key>
	<string>uniquePositionBrightness</string>
	<key>navigatorBufferColor</key>
	<string>shaderAboutAdapter</string>
	<key>positionedDecoratorOrientation</key>
	<string>previewParamForce</string>
</dict>
</plist>
