<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowCycleCount</key>
	<string>apertureChainBottom</string>
	<key>curveFromBridge</key>
	<string>nodeFromKind</string>
	<key>gridActionFormat</key>
	<string>chapterDuringContext</string>
	<key>interpolationContainSystem</key>
	<string>smartArithmeticTag</string>
	<key>layerProxyContrast</key>
	<string>mapNearLevel</string>
	<key>navigationWithPhase</key>
	<string>spineStructurePosition</string>
	<key>routeDuringStyle</key>
	<string>queryTempleLocation</string>
	<key>streamEnvironmentTop</key>
	<string>disabledIntensityTint</string>
</dict>
</plist>
