<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorInCycle</key>
	<string>dropdownbuttonPhaseRate</string>
	<key>basicChallengeRight</key>
	<string>heapMethodForce</string>
	<key>cachePrototypeCenter</key>
	<string>rectWorkAcceleration</string>
	<key>mobileStoreMargin</key>
	<string>ephemeralDimensionDuration</string>
	<key>referenceKindSkewy</key>
	<string>overlayAwayInterpreter</string>
	<key>resourceStyleLocation</key>
	<string>handlerStructureBound</string>
	<key>respectivePageviewSkewy</key>
	<string>checkboxUntilCycle</string>
	<key>singletonTierCoord</key>
	<string>associatedBuilderInset</string>
	<key>textfieldParamMargin</key>
	<string>optimizerParamRight</string>
	<key>transitionAwayValue</key>
	<string>animatedSpecifierDuration</string>
</dict>
</plist>
