<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferOrWork</key>
	<string>navigationStateCoord</string>
	<key>containerStateContrast</key>
	<string>explicitTextHead</string>
	<key>firstIndicatorOrigin</key>
	<string>sampleAwayActivity</string>
	<key>observerOutsidePrototype</key>
	<string>gemForLayer</string>
	<key>skirtAgainstProcess</key>
	<string>marginStyleVelocity</string>
	<key>tableFromObserver</key>
	<string>directlyTextfieldInterval</string>
</dict>
</plist>
