<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerFormTail</key>
	<string>storeStyleSize</string>
	<key>deferredMaterialScale</key>
	<string>titleValueResponse</string>
	<key>directInterpolationKind</key>
	<string>awaitNearVariable</string>
	<key>dynamicObserverTail</key>
	<string>resultAmongLevel</string>
	<key>futureInProxy</key>
	<string>configurationInInterpreter</string>
	<key>interfaceScopeTension</key>
	<string>transformerAroundFunction</string>
	<key>playbackNumberDensity</key>
	<string>spriteFacadeFrequency</string>
	<key>rowAlongVariable</key>
	<string>intermediateReductionSkewx</string>
	<key>secondEquipmentTail</key>
	<string>taskWithoutTier</string>
	<key>spotBufferSkewy</key>
	<string>localCanvasLeft</string>
</dict>
</plist>
