<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateDecoratorFlags</key>
	<string>oldAspectHead</string>
	<key>dialogsOperationTheme</key>
	<string>lossStructureTheme</string>
	<key>eventCycleInset</key>
	<string>deferredAsyncFrequency</string>
	<key>flexAsFunction</key>
	<string>reductionVariableDirection</string>
	<key>originalEntityState</key>
	<string>directCommandMomentum</string>
	<key>particleChainFeedback</key>
	<string>cupertinoEffectFormat</string>
	<key>singletonForState</key>
	<string>animationAlongTemple</string>
</dict>
</plist>
