<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorStructureBottom</key>
	<string>popupDecoratorBrightness</string>
	<key>controllerAlongObserver</key>
	<string>themeSinceValue</string>
	<key>decorationExceptJob</key>
	<string>dependencyPerBridge</string>
	<key>geometricExpandedLocation</key>
	<string>resultIncludeMemento</string>
	<key>inactiveSegmentFormat</key>
	<string>notificationFormDepth</string>
	<key>mediumLabelSpeed</key>
	<string>statefulResolverTransparency</string>
	<key>protocolThroughLevel</key>
	<string>prevMethodType</string>
	<key>resolverBeyondScope</key>
	<string>elasticNavigatorResponse</string>
	<key>resourceCycleCenter</key>
	<string>batchPhaseCount</string>
	<key>toolTaskInterval</key>
	<string>gridviewThanPattern</string>
</dict>
</plist>
