<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentNearParameter</key>
	<string>actionLevelBorder</string>
	<key>collectionInBuffer</key>
	<string>collectionMementoPressure</string>
	<key>constraintDuringBuffer</key>
	<string>mediocreInterfaceInset</string>
	<key>disparateQueryInset</key>
	<string>aspectratioPatternBehavior</string>
	<key>euclideanAlignmentBorder</key>
	<string>dedicatedDelegateState</string>
	<key>toolNearDecorator</key>
	<string>eventUntilNumber</string>
</dict>
</plist>
