<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalOptimizerFormat</key>
	<string>listenerOfVar</string>
	<key>documentBridgeVisibility</key>
	<string>offsetInMethod</string>
	<key>grayscaleFunctionValidation</key>
	<string>textAtPattern</string>
	<key>inheritedRequestForce</key>
	<string>popupParameterStatus</string>
	<key>positionByStructure</key>
	<string>persistentFactoryIndex</string>
</dict>
</plist>
