<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVariablePadding</key>
	<string>iconWorkFlags</string>
	<key>cycleAtNumber</key>
	<string>unaryTaskOrigin</string>
	<key>decorationAboutMethod</key>
	<string>dependencyFromMode</string>
	<key>decorationParamSaturation</key>
	<string>queuePrototypeIndex</string>
	<key>keyGraphicCount</key>
	<string>draggableLabelSpeed</string>
	<key>missionDespiteTier</key>
	<string>lastRectTag</string>
</dict>
</plist>
