<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAroundPlatform</key>
	<string>persistentSampleMomentum</string>
	<key>commonResourceCount</key>
	<string>timerStrategyOpacity</string>
	<key>diversifiedListviewEdge</key>
	<string>delicateVectorOffset</string>
	<key>loopThanActivity</key>
	<string>tweenTierInteraction</string>
	<key>lossOfComposite</key>
	<string>matrixNearValue</string>
	<key>projectionIncludeTask</key>
	<string>navigatorBridgeBottom</string>
	<key>resizableRichtextKind</key>
	<string>drawerFormState</string>
</dict>
</plist>
