<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionThroughBuffer</key>
	<string>denseFactoryBound</string>
	<key>promiseNearFlyweight</key>
	<string>logarithmFrameworkFrequency</string>
	<key>subsequentNavigationDepth</key>
	<string>capacitiesNearFlyweight</string>
	<key>vectorStateSize</key>
	<string>alignmentIncludePlatform</string>
</dict>
</plist>
