<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertStageSkewx</key>
	<string>factoryWorkInterval</string>
	<key>futureWithoutType</key>
	<string>eventContextVisible</string>
	<key>inkwellNearVisitor</key>
	<string>denseNibBehavior</string>
	<key>presenterAsFlyweight</key>
	<string>screenSingletonRotation</string>
</dict>
</plist>
