<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarLikeStyle</key>
	<string>descriptorStageSkewy</string>
	<key>bufferInsideLevel</key>
	<string>threadActivityDirection</string>
	<key>chapterWithJob</key>
	<string>layerStateSpeed</string>
	<key>immediateListviewAcceleration</key>
	<string>repositoryDecoratorBottom</string>
	<key>logByVar</key>
	<string>inheritedDelegateDuration</string>
	<key>previewCycleSkewy</key>
	<string>spriteKindPosition</string>
	<key>reactiveInteractorKind</key>
	<string>featureScopeOpacity</string>
	<key>sampleStructureDepth</key>
	<string>granularActionMode</string>
	<key>statefulWithMethod</key>
	<string>scaleTaskEdge</string>
	<key>touchFacadeTransparency</key>
	<string>controllerVariableFlags</string>
</dict>
</plist>
