<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveActionTail</key>
	<string>shaderFunctionSpeed</string>
	<key>flexibleProviderColor</key>
	<string>durationInterpreterFrequency</string>
	<key>immediateControllerSaturation</key>
	<string>ignoredProfileBound</string>
	<key>inactiveApertureBorder</key>
	<string>semanticSizeTheme</string>
</dict>
</plist>
