<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerPrototypeTint</key>
	<string>chartScopeState</string>
	<key>customStorageAlignment</key>
	<string>draggablePresenterCenter</string>
	<key>invisibleFutureSize</key>
	<string>appbarKindOpacity</string>
	<key>resultStageStatus</key>
	<string>fusedRadiusInterval</string>
	<key>retainedAspectratioIndex</key>
	<string>apertureThanAdapter</string>
</dict>
</plist>
