<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerModeDepth</key>
	<string>interactorSinceParameter</string>
	<key>durationFacadeDuration</key>
	<string>asyncTextForce</string>
	<key>independentLabelFormat</key>
	<string>usedOptionDistance</string>
	<key>inkwellTempleLocation</key>
	<string>commonServiceCoord</string>
	<key>modulusPhaseSkewy</key>
	<string>tabviewShapeOffset</string>
	<key>resourceSingletonSize</key>
	<string>notificationStateIndex</string>
	<key>sensorInterpreterTail</key>
	<string>opaqueInteractorBound</string>
	<key>stepInsideMediator</key>
	<string>priorBoxshadowForce</string>
	<key>swiftMementoState</key>
	<string>durationNumberTheme</string>
</dict>
</plist>
