<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCubitKind</key>
	<string>numericalNotificationShade</string>
	<key>gramAboutType</key>
	<string>subsequentSpineSkewx</string>
	<key>graphicAroundProcess</key>
	<string>storageAwayOperation</string>
	<key>interactiveContainerOffset</key>
	<string>memberNumberDepth</string>
	<key>mediocreViewIndex</key>
	<string>protectedSymbolShade</string>
</dict>
</plist>
