<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileEquipmentMomentum</key>
	<string>boxshadowModeSkewy</string>
	<key>mainViewSaturation</key>
	<string>enabledRepositoryDelay</string>
	<key>optionAlongChain</key>
	<string>accordionStateBottom</string>
	<key>permanentNavigatorTint</key>
	<string>petCompositeVisibility</string>
	<key>serviceMediatorPressure</key>
	<string>usedIntensityScale</string>
</dict>
</plist>
