<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerNearForm</key>
	<string>currentConvolutionEdge</string>
	<key>currentTextVisible</key>
	<string>mobilePreviewStyle</string>
	<key>curveSingletonIndex</key>
	<string>prismaticStoryboardBorder</string>
	<key>listenerCommandColor</key>
	<string>heapAroundVisitor</string>
	<key>materialRowRight</key>
	<string>semanticObserverSkewy</string>
	<key>nibSingletonAcceleration</key>
	<string>compositionActivityDirection</string>
	<key>pivotalMomentumLeft</key>
	<string>boxVarInterval</string>
	<key>slashAboutProcess</key>
	<string>notifierCommandOpacity</string>
	<key>statefulRowMomentum</key>
	<string>providerTaskFrequency</string>
</dict>
</plist>
