<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedButtonFeedback</key>
	<string>respectiveStreamBound</string>
	<key>liteObserverCoord</key>
	<string>geometricStateTop</string>
	<key>missedNibTag</key>
	<string>assetFrameworkType</string>
	<key>mobileFormState</key>
	<string>iterativeSubscriptionPressure</string>
	<key>repositoryStageResponse</key>
	<string>storageBufferName</string>
	<key>requestAtKind</key>
	<string>subsequentPositionSkewx</string>
	<key>scrollableMemberRate</key>
	<string>radiusLikeStyle</string>
	<key>stackAmongStrategy</key>
	<string>commandThanContext</string>
</dict>
</plist>
