<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianWidgetVisible</key>
	<string>customDialogsAppearance</string>
	<key>displayableLoopMargin</key>
	<string>observerVersusPlatform</string>
	<key>operationNumberPosition</key>
	<string>dynamicBufferMargin</string>
	<key>responsiveOptionShade</key>
	<string>layerAmongInterpreter</string>
	<key>riverpodLayerRotation</key>
	<string>signAtInterpreter</string>
	<key>sinkActionShape</key>
	<string>managerParamMode</string>
	<key>touchDespiteChain</key>
	<string>textPhaseLocation</string>
	<key>usedTopicShade</key>
	<string>awaitAgainstScope</string>
</dict>
</plist>
