<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionAtValue</key>
	<string>fragmentByOperation</string>
	<key>eventFunctionOffset</key>
	<string>completerBesideStrategy</string>
	<key>labelParameterOrigin</key>
	<string>timerByPhase</string>
	<key>mediaqueryOrLayer</key>
	<string>scrollProcessBehavior</string>
	<key>plateStyleInset</key>
	<string>variantPerSingleton</string>
	<key>reactiveObserverHead</key>
	<string>statefulContextDirection</string>
	<key>rowInsideMode</key>
	<string>multiHashInteraction</string>
	<key>signaturePlatformDirection</key>
	<string>tappableAlertValidation</string>
	<key>tangentPerPrototype</key>
	<string>hierarchicalListenerVisible</string>
</dict>
</plist>
