<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionEnvironmentTag</key>
	<string>transitionTypeRate</string>
	<key>expandedScopeTension</key>
	<string>routerParameterRotation</string>
	<key>histogramLikeVar</key>
	<string>descriptionAdapterOpacity</string>
	<key>positionNearVariable</key>
	<string>prismaticGestureOrientation</string>
	<key>reactiveScrollContrast</key>
	<string>metadataThanParam</string>
	<key>respectiveThemePressure</key>
	<string>sessionContextRotation</string>
	<key>seamlessEntropyBound</key>
	<string>handlerFunctionBehavior</string>
	<key>spriteAboutBuffer</key>
	<string>mainUtilBrightness</string>
	<key>tickerWorkInteraction</key>
	<string>animationFacadeTint</string>
</dict>
</plist>
