<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerInChain</key>
	<string>pointThroughObserver</string>
	<key>cosineJobHue</key>
	<string>directlyCaptionVelocity</string>
	<key>oldVectorStatus</key>
	<string>buttonStyleValidation</string>
	<key>resourceAmongVar</key>
	<string>requestProxyTail</string>
	<key>resourceParameterKind</key>
	<string>overlayStyleVisible</string>
	<key>swiftLayerBound</key>
	<string>cubeCompositeKind</string>
	<key>toolUntilPrototype</key>
	<string>positionedMediatorBottom</string>
</dict>
</plist>
