<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoContainBridge</key>
	<string>metadataDecoratorName</string>
	<key>interfaceStageMargin</key>
	<string>fragmentParamSpeed</string>
	<key>matrixJobHead</key>
	<string>grainBesideTier</string>
	<key>oldConfigurationPosition</key>
	<string>persistentSubpixelTension</string>
	<key>roleCompositeInteraction</key>
	<string>sizeModeInteraction</string>
	<key>storageProxySpeed</key>
	<string>loopDecoratorHue</string>
	<key>titleAlongNumber</key>
	<string>permanentStorageStyle</string>
	<key>uniqueRepositoryDistance</key>
	<string>easyTransitionRotation</string>
</dict>
</plist>
