<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>providerValueTheme</key>
	<string>symbolActivityForce</string>
	<key>sharedProjectionOrigin</key>
	<string>baseWithoutScope</string>
</dict>
</plist>
