<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedInjectionDistance</key>
	<string>keyMediaqueryLeft</string>
	<key>builderVisitorBorder</key>
	<string>labelStateOpacity</string>
	<key>challengeBridgeAcceleration</key>
	<string>bufferTypeSaturation</string>
	<key>durationPlatformShape</key>
	<string>resizableScenePadding</string>
	<key>durationSystemDuration</key>
	<string>asyncBeyondBridge</string>
	<key>hardDependencyIndex</key>
	<string>originalAllocatorMargin</string>
	<key>prevPopupScale</key>
	<string>presenterSinceProxy</string>
</dict>
</plist>
