<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisFlyweightDelay</key>
	<string>listenerDecoratorRight</string>
	<key>crudeMediaqueryTint</key>
	<string>loopLikeBuffer</string>
	<key>extensionTierPosition</key>
	<string>threadDespiteVar</string>
	<key>factoryThanShape</key>
	<string>greatListenerBorder</string>
	<key>observerBesideCycle</key>
	<string>primaryResolverVelocity</string>
	<key>storeDecoratorHue</key>
	<string>integerAtVar</string>
	<key>subtleResponseVisible</key>
	<string>switchJobShade</string>
</dict>
</plist>
