<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandBesideStrategy</key>
	<string>retainedMethodRotation</string>
	<key>consultativeReducerSaturation</key>
	<string>rapidResultMargin</string>
	<key>featureKindForce</key>
	<string>requestFormScale</string>
	<key>localizationOutsideVisitor</key>
	<string>backwardCaptionStatus</string>
	<key>nodeParameterInset</key>
	<string>checklistVisitorOffset</string>
	<key>reducerAmongKind</key>
	<string>activeModalDuration</string>
	<key>reducerLayerDelay</key>
	<string>advancedExponentBehavior</string>
	<key>resolverInLayer</key>
	<string>crucialPreviewName</string>
	<key>slashStylePadding</key>
	<string>blocSingletonTop</string>
</dict>
</plist>
