<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsThroughAdapter</key>
	<string>intermediateResourceScale</string>
	<key>containerInsideCommand</key>
	<string>specifierContainBuffer</string>
	<key>descriptionAboutInterpreter</key>
	<string>decorationAsAction</string>
	<key>memberModeForce</key>
	<string>desktopMonsterPosition</string>
	<key>navigatorBeyondStrategy</key>
	<string>mobileInterfaceDistance</string>
	<key>normMementoValidation</key>
	<string>rowEnvironmentCenter</string>
	<key>overlayContextDensity</key>
	<string>labelInEnvironment</string>
	<key>sustainableIntensityTint</key>
	<string>permissiveUtilSpeed</string>
</dict>
</plist>
