<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyThanPattern</key>
	<string>progressbarFormFormat</string>
	<key>durationNumberSkewy</key>
	<string>ephemeralThemeAcceleration</string>
	<key>methodAtVar</key>
	<string>backwardEqualizationTension</string>
	<key>nextTextTag</key>
	<string>progressbarShapeDepth</string>
	<key>titleAsCycle</key>
	<string>flexCompositeTheme</string>
</dict>
</plist>
