<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAmongComposite</key>
	<string>originalMovementScale</string>
	<key>borderVersusPlatform</key>
	<string>spriteDuringPrototype</string>
	<key>compositionalMultiplicationLeft</key>
	<string>typicalSpineResponse</string>
	<key>descriptionAmongNumber</key>
	<string>topicPerBridge</string>
	<key>directlySegueDepth</key>
	<string>basicIntensityColor</string>
	<key>heapByMode</key>
	<string>chapterSystemDuration</string>
	<key>lossPhaseCoord</key>
	<string>elasticTitleSpeed</string>
	<key>slashIncludePlatform</key>
	<string>metadataByType</string>
	<key>usecaseCommandTail</key>
	<string>frameByDecorator</string>
</dict>
</plist>
