<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loopChainName</key>
	<string>materialTaskBehavior</string>
	<key>resolverInsideKind</key>
	<string>sizeStagePressure</string>
	<key>signKindTag</key>
	<string>tableStructureOffset</string>
</dict>
</plist>
