<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationStageHead</key>
	<string>declarativeTableInset</string>
	<key>factoryLayerSkewy</key>
	<string>criticalProjectOrientation</string>
	<key>iterativeContractionBehavior</key>
	<string>cupertinoEquipmentSize</string>
	<key>stateOfPrototype</key>
	<string>inactiveDescriptionStyle</string>
</dict>
</plist>
