<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicChannelAppearance</key>
	<string>convolutionPerAdapter</string>
	<key>controllerFacadeHue</key>
	<string>mutableSpriteDistance</string>
	<key>expandedParamKind</key>
	<string>semanticsSystemShape</string>
	<key>gridInterpreterState</key>
	<string>rectVersusTemple</string>
	<key>opaqueShaderTension</key>
	<string>timerObserverAcceleration</string>
	<key>responseAboutMediator</key>
	<string>animatedSignForce</string>
	<key>usecaseFlyweightBound</key>
	<string>subpixelAtPrototype</string>
	<key>variantInMode</key>
	<string>primaryDurationOffset</string>
	<key>zoneProxyName</key>
	<string>usedAwaitSize</string>
</dict>
</plist>
