<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTextureMode</key>
	<string>actionIncludeParameter</string>
	<key>layoutAboutObserver</key>
	<string>activityInsideCommand</string>
	<key>metadataPrototypeKind</key>
	<string>sizedboxDecoratorDepth</string>
	<key>multiSpecifierBorder</key>
	<string>equalizationCycleDirection</string>
	<key>stackAboutLevel</key>
	<string>mobileContainerInset</string>
	<key>workflowValueRight</key>
	<string>imageLikeBridge</string>
</dict>
</plist>
