<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAboutContext</key>
	<string>navigatorFormContrast</string>
	<key>descriptorAtMode</key>
	<string>iterativeCacheDistance</string>
	<key>disparateRichtextCount</key>
	<string>graphContextResponse</string>
	<key>gridModeLeft</key>
	<string>subscriptionStrategyVisible</string>
	<key>pointIncludeValue</key>
	<string>capsuleIncludeComposite</string>
	<key>profileOfStrategy</key>
	<string>flexAwayMediator</string>
	<key>seamlessCycleInset</key>
	<string>reactiveProjectionOffset</string>
	<key>taskStyleVisibility</key>
	<string>singleBitrateLocation</string>
</dict>
</plist>
