<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedManagerPressure</key>
	<string>rowIncludeState</string>
	<key>channelsFlyweightTail</key>
	<string>labelVisitorFeedback</string>
	<key>collectionAmongDecorator</key>
	<string>multiPageviewFeedback</string>
	<key>constNavigatorFeedback</key>
	<string>operationProxyBehavior</string>
	<key>opaqueExpandedRate</key>
	<string>vectorPrototypeValidation</string>
	<key>serviceAsState</key>
	<string>mobileAboutDecorator</string>
	<key>symbolLikeValue</key>
	<string>commandTierLeft</string>
	<key>uniformSymbolResponse</key>
	<string>inactiveIconBorder</string>
</dict>
</plist>
