<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTierBrightness</key>
	<string>fusedHeapSkewx</string>
	<key>bufferJobScale</key>
	<string>precisionFormForce</string>
	<key>cupertinoRowShade</key>
	<string>sharedScaleInset</string>
	<key>pointAsTier</key>
	<string>baseEnvironmentState</string>
	<key>singleDependencyType</key>
	<string>timerActionColor</string>
	<key>singleOffsetOffset</key>
	<string>managerDespiteType</string>
	<key>sliderAwayCommand</key>
	<string>denseReductionSkewx</string>
	<key>statefulContainerBound</key>
	<string>webManagerColor</string>
	<key>vectorFrameworkValidation</key>
	<string>alignmentModeTail</string>
</dict>
</plist>
