<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerVarDensity</key>
	<string>stateLikeStrategy</string>
	<key>iconByTask</key>
	<string>criticalLocalizationDuration</string>
	<key>logarithmAroundBridge</key>
	<string>symmetricInstructionRotation</string>
	<key>loopShapeType</key>
	<string>directlyStateOrientation</string>
	<key>relationalChannelShape</key>
	<string>entityUntilMethod</string>
	<key>resizableTextfieldTransparency</key>
	<string>interfaceCycleTop</string>
	<key>skinActivitySize</key>
	<string>textOfLevel</string>
	<key>subpixelForProcess</key>
	<string>crudeSkinMargin</string>
	<key>usecaseAmongBridge</key>
	<string>texturePrototypePressure</string>
</dict>
</plist>
