<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaOfStage</key>
	<string>captionVarForce</string>
	<key>intensityAwayVariable</key>
	<string>completerOrPrototype</string>
	<key>presenterViaObserver</key>
	<string>durationStageAcceleration</string>
	<key>priorityPhaseDelay</key>
	<string>retainedReducerTension</string>
	<key>protocolMementoTransparency</key>
	<string>titleCompositeHue</string>
	<key>singletonByPattern</key>
	<string>uniformGridAppearance</string>
	<key>usecaseFormBrightness</key>
	<string>completerContainVisitor</string>
</dict>
</plist>
