<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAndActivity</key>
	<string>textureTaskDepth</string>
	<key>dedicatedIntensityVisible</key>
	<string>missionJobTransparency</string>
	<key>entropyInterpreterFrequency</key>
	<string>segueCyclePadding</string>
	<key>gateWorkSpacing</key>
	<string>workflowStyleState</string>
	<key>sessionSystemContrast</key>
	<string>singletonWithoutPrototype</string>
	<key>toolWorkScale</key>
	<string>utilSystemEdge</string>
	<key>widgetVariableTransparency</key>
	<string>gramShapeRate</string>
</dict>
</plist>
