<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateSliderCount</key>
	<string>unsortedBaselineSaturation</string>
	<key>heroTaskVisibility</key>
	<string>layoutWithoutDecorator</string>
	<key>normContextHead</key>
	<string>localizationDespiteMode</string>
	<key>sampleThroughPlatform</key>
	<string>numericalBuilderTop</string>
</dict>
</plist>
