<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>precisionLikeParam</key>
	<string>queueSingletonDuration</string>
	<key>rectSingletonTheme</key>
	<string>textureSystemOrientation</string>
	<key>statefulPlaybackBound</key>
	<string>concreteConfigurationEdge</string>
	<key>synchronousGridOrigin</key>
	<string>spriteAmongFramework</string>
	<key>textAdapterForce</key>
	<string>offsetViaTemple</string>
	<key>topicAwayFunction</key>
	<string>signPrototypeMode</string>
</dict>
</plist>
