<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxStructureTension</key>
	<string>segueStrategyTransparency</string>
	<key>cartesianInkwellLocation</key>
	<string>sessionAtParameter</string>
	<key>inactiveVectorBehavior</key>
	<string>layoutNumberForce</string>
	<key>nextMovementResponse</key>
	<string>cellAboutMemento</string>
	<key>priorDimensionStyle</key>
	<string>cubeDespitePrototype</string>
	<key>signCommandSaturation</key>
	<string>activatedPresenterBehavior</string>
</dict>
</plist>
