<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileBulletTail</key>
	<string>mobxAboutBuffer</string>
	<key>futureDespitePlatform</key>
	<string>futureBufferType</string>
	<key>lastRequestResponse</key>
	<string>futureNearNumber</string>
	<key>mobxIncludeInterpreter</key>
	<string>usageShapeDepth</string>
	<key>navigationOutsidePrototype</key>
	<string>paddingOfType</string>
	<key>resourceChainIndex</key>
	<string>anchorContextEdge</string>
	<key>stateStateInset</key>
	<string>momentumVersusFlyweight</string>
</dict>
</plist>
