<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchVersusBridge</key>
	<string>typicalDropdownbuttonRotation</string>
	<key>compositionKindDuration</key>
	<string>associatedTextCount</string>
	<key>containerPlatformBorder</key>
	<string>alignmentUntilPattern</string>
	<key>decorationInLayer</key>
	<string>chapterAdapterBorder</string>
	<key>geometricCollectionTail</key>
	<string>coordinatorShapeInterval</string>
	<key>interactiveGraphicVelocity</key>
	<string>cubitAwayTemple</string>
	<key>sophisticatedGroupBound</key>
	<string>pointInterpreterStyle</string>
	<key>substantialTweenTransparency</key>
	<string>signatureExceptContext</string>
</dict>
</plist>
