<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationVariablePosition</key>
	<string>fusedFrameAppearance</string>
	<key>interactiveReducerName</key>
	<string>pageviewWithSystem</string>
	<key>pinchableSliderVisibility</key>
	<string>priorityThroughFacade</string>
	<key>plateChainOrientation</key>
	<string>symbolStateTension</string>
	<key>ternaryOfActivity</key>
	<string>sizeIncludeVar</string>
	<key>textfieldViaParam</key>
	<string>respectiveTransitionStatus</string>
</dict>
</plist>
