<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivePositionedInset</key>
	<string>rowPerFacade</string>
	<key>extensionActionFrequency</key>
	<string>cycleStyleScale</string>
	<key>localCurveDepth</key>
	<string>desktopSizeHead</string>
	<key>navigationPhaseShape</key>
	<string>nodeAwayPlatform</string>
	<key>parallelChapterValidation</key>
	<string>providerExceptInterpreter</string>
	<key>profileWorkLocation</key>
	<string>navigatorSystemRotation</string>
	<key>robustSubpixelDistance</key>
	<string>viewValueVisible</string>
	<key>storeOutsideBuffer</key>
	<string>animationActivityOpacity</string>
	<key>usedExceptionPressure</key>
	<string>previewInsideVisitor</string>
</dict>
</plist>
