<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedControllerBehavior</key>
	<string>sinkPrototypeRight</string>
	<key>behaviorFlyweightHead</key>
	<string>routePhaseIndex</string>
	<key>constraintModeBottom</key>
	<string>intermediatePlateBottom</string>
	<key>fixedCubitTag</key>
	<string>metadataSinceInterpreter</string>
	<key>globalLoopSkewx</key>
	<string>allocatorVariableType</string>
	<key>interfaceDecoratorState</key>
	<string>factoryBeyondWork</string>
	<key>paddingPatternType</key>
	<string>resizableServiceFrequency</string>
	<key>resilientTweenBrightness</key>
	<string>publicSizeSkewy</string>
	<key>usecaseOfBridge</key>
	<string>permissiveOffsetCount</string>
</dict>
</plist>
