<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAroundPattern</key>
	<string>groupAsLevel</string>
	<key>graphExceptComposite</key>
	<string>decorationCommandTop</string>
	<key>providerAgainstParameter</key>
	<string>navigatorBeyondTier</string>
	<key>repositoryVarRotation</key>
	<string>buttonAlongFunction</string>
	<key>spineValueName</key>
	<string>captionThroughChain</string>
	<key>storeAboutPattern</key>
	<string>spriteParamDistance</string>
</dict>
</plist>
