<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackShapeDepth</key>
	<string>baseAlongAction</string>
	<key>completerMethodLeft</key>
	<string>interfaceProxyDelay</string>
	<key>matrixOutsideChain</key>
	<string>grainChainShade</string>
	<key>mediocreFrameFeedback</key>
	<string>isolatePlatformTransparency</string>
	<key>persistentBoxshadowKind</key>
	<string>multiBufferDelay</string>
	<key>subsequentErrorColor</key>
	<string>alignmentWithMediator</string>
	<key>transformerTaskDensity</key>
	<string>unaryBeyondCycle</string>
	<key>visibleFutureSpeed</key>
	<string>agileGradientVisible</string>
</dict>
</plist>
