<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonStackMode</key>
	<string>alignmentAgainstStructure</string>
	<key>fixedOffsetDelay</key>
	<string>geometricFactoryInteraction</string>
	<key>segmentStyleFormat</key>
	<string>navigationAndCycle</string>
	<key>stepAmongBuffer</key>
	<string>timerTypeSkewx</string>
</dict>
</plist>
