<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateStateAcceleration</key>
	<string>injectionFunctionSpacing</string>
	<key>delicateModelPressure</key>
	<string>pivotalResultTop</string>
	<key>globalTopicAlignment</key>
	<string>anchorOfScope</string>
	<key>greatContainerHue</key>
	<string>sinkNumberFlags</string>
	<key>gridviewJobAlignment</key>
	<string>cupertinoMovementState</string>
	<key>mediumQueryPadding</key>
	<string>usedAnchorInterval</string>
	<key>protocolSinceNumber</key>
	<string>baseUntilMode</string>
	<key>scrollableTopicResponse</key>
	<string>originalBlocName</string>
	<key>singleAspectratioStatus</key>
	<string>sliderUntilOperation</string>
	<key>viewByStrategy</key>
	<string>standalonePlaybackAppearance</string>
</dict>
</plist>
