<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarTierScale</key>
	<string>geometricWidgetDuration</string>
	<key>appbarUntilCommand</key>
	<string>spritePrototypeForce</string>
	<key>coordinatorAroundParam</key>
	<string>apertureParameterTail</string>
	<key>decorationProxyRotation</key>
	<string>mainRoleStyle</string>
	<key>documentAmongStage</key>
	<string>bufferDuringStrategy</string>
	<key>immediateBorderPosition</key>
	<string>desktopMenuVelocity</string>
	<key>injectionIncludePrototype</key>
	<string>publicLogAppearance</string>
	<key>keyReductionKind</key>
	<string>statefulAnchorFeedback</string>
	<key>segueFlyweightName</key>
	<string>globalCubeOffset</string>
	<key>sineCompositePadding</key>
	<string>resourceFormInteraction</string>
</dict>
</plist>
