<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerLayerRotation</key>
	<string>utilAndState</string>
	<key>compositionCycleColor</key>
	<string>prismaticMatrixOpacity</string>
	<key>customVariantTop</key>
	<string>ephemeralAnchorStatus</string>
	<key>effectWorkOffset</key>
	<string>stepWithoutTemple</string>
	<key>listenerInsideStructure</key>
	<string>crudeTaskTail</string>
	<key>mobxProxyOffset</key>
	<string>gesturePatternBound</string>
	<key>screenMementoTag</key>
	<string>cacheWorkDepth</string>
</dict>
</plist>
