<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedGroupPadding</key>
	<string>builderAgainstContext</string>
	<key>difficultSwitchOrientation</key>
	<string>ephemeralAspectratioAlignment</string>
	<key>entityVarAppearance</key>
	<string>granularIconCenter</string>
	<key>handlerLevelCount</key>
	<string>richtextStageDelay</string>
	<key>indicatorAsStructure</key>
	<string>timerKindInteraction</string>
	<key>permanentMultiplicationCoord</key>
	<string>playbackOutsideMode</string>
	<key>rectCompositeState</key>
	<string>textureAsDecorator</string>
	<key>subpixelIncludePhase</key>
	<string>autoProjectionScale</string>
	<key>taskAndAdapter</key>
	<string>secondCurveRotation</string>
	<key>tweenPatternIndex</key>
	<string>finalDecorationColor</string>
</dict>
</plist>
