<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBufferMomentum</key>
	<string>getxWithoutCommand</string>
	<key>batchVariableSkewx</key>
	<string>disparateInkwellBorder</string>
	<key>compositionOfCycle</key>
	<string>sliderObserverOpacity</string>
	<key>cupertinoThanStrategy</key>
	<string>subscriptionAndMethod</string>
	<key>dedicatedCubitSpeed</key>
	<string>queryThroughStage</string>
	<key>granularAnimationStyle</key>
	<string>chartFunctionPosition</string>
	<key>standaloneStatefulAcceleration</key>
	<string>delicateAxisBehavior</string>
</dict>
</plist>
