<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerBesideSystem</key>
	<string>disparateSineTension</string>
	<key>elasticModelAlignment</key>
	<string>arithmeticTernaryOpacity</string>
	<key>giftStateOpacity</key>
	<string>metadataOfPrototype</string>
	<key>indicatorActivitySpacing</key>
	<string>themeLayerInteraction</string>
	<key>permissiveNibBound</key>
	<string>sceneAboutKind</string>
	<key>protectedEffectHue</key>
	<string>semanticDurationKind</string>
	<key>routeChainSpacing</key>
	<string>durationPerPlatform</string>
	<key>subtleAppbarState</key>
	<string>sinkBesideState</string>
	<key>temporaryTimerDirection</key>
	<string>delegateFrameworkCount</string>
</dict>
</plist>
