<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityScopeDuration</key>
	<string>buttonPerTask</string>
	<key>beginnerTweenHead</key>
	<string>radioViaSystem</string>
	<key>diffableLayerIndex</key>
	<string>firstProfileFlags</string>
	<key>hashDespiteLayer</key>
	<string>enabledPlateBehavior</string>
	<key>momentumDuringParam</key>
	<string>presenterBufferDelay</string>
	<key>persistentButtonOrigin</key>
	<string>transformerBufferResponse</string>
	<key>retainedLocalizationStyle</key>
	<string>synchronousRequestResponse</string>
	<key>samplePlatformSpacing</key>
	<string>gramAlongSystem</string>
	<key>visibleManagerInset</key>
	<string>channelsChainTransparency</string>
</dict>
</plist>
