<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileStatelessDepth</key>
	<string>extensionOrDecorator</string>
	<key>cubitOrChain</key>
	<string>imperativeEffectBehavior</string>
	<key>fixedSampleBound</key>
	<string>tweenUntilComposite</string>
	<key>petAroundSystem</key>
	<string>elasticCursorOffset</string>
	<key>prevSwiftTail</key>
	<string>advancedSpriteSpacing</string>
	<key>routerStructureType</key>
	<string>sliderSincePrototype</string>
	<key>storageDespiteForm</key>
	<string>commonRectAppearance</string>
</dict>
</plist>
