<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderForVisitor</key>
	<string>sharedIntensityCount</string>
	<key>entityAtChain</key>
	<string>euclideanExponentBottom</string>
	<key>gridviewAroundParameter</key>
	<string>curveAlongVisitor</string>
	<key>labelUntilVar</key>
	<string>secondPopupState</string>
	<key>opaqueQueueFeedback</key>
	<string>offsetProxyEdge</string>
	<key>permissiveCatalystInset</key>
	<string>promiseNearLevel</string>
</dict>
</plist>
