<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPhaseLocation</key>
	<string>completerTempleStatus</string>
	<key>bufferInsideStructure</key>
	<string>layoutInterpreterIndex</string>
	<key>eventAroundFramework</key>
	<string>queueAtVisitor</string>
	<key>monsterUntilLevel</key>
	<string>temporaryFeatureBrightness</string>
</dict>
</plist>
