<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAtTemple</key>
	<string>visibleResponseSize</string>
	<key>checklistInsideProxy</key>
	<string>dimensionBeyondPattern</string>
	<key>imperativeFeatureShade</key>
	<string>usagePrototypeTheme</string>
	<key>positionedViaStructure</key>
	<string>layerCompositeAlignment</string>
	<key>sinkAwayScope</key>
	<string>substantialBinaryKind</string>
</dict>
</plist>
