<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationAtNumber</key>
	<string>storageBufferSkewx</string>
	<key>containerTierName</key>
	<string>singleCapacitiesTension</string>
	<key>cycleCycleBottom</key>
	<string>hardAspectBrightness</string>
	<key>graphicThroughVariable</key>
	<string>mobileCaptionShade</string>
	<key>groupOfCommand</key>
	<string>completerAgainstCommand</string>
	<key>protocolDuringBridge</key>
	<string>globalHashVisibility</string>
	<key>remainderCompositeTension</key>
	<string>factoryAtObserver</string>
	<key>scaleNearKind</key>
	<string>draggableCallbackAlignment</string>
	<key>techniqueNearFunction</key>
	<string>decorationDecoratorFlags</string>
	<key>tickerObserverTail</key>
	<string>intensityLikeFramework</string>
</dict>
</plist>
