<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanViewBrightness</key>
	<string>lazyPetInteraction</string>
	<key>sequentialQueryFrequency</key>
	<string>sliderPerJob</string>
	<key>sineStyleTag</key>
	<string>controllerAsProcess</string>
</dict>
</plist>
