<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTweenRate</key>
	<string>workflowContainDecorator</string>
	<key>blocProcessColor</key>
	<string>previewActivityBrightness</string>
	<key>easyContainerTint</key>
	<string>blocFlyweightTail</string>
	<key>iterativeEqualizationRotation</key>
	<string>viewLikeProcess</string>
	<key>navigatorInsideScope</key>
	<string>customCubitKind</string>
	<key>standaloneDecorationInteraction</key>
	<string>standaloneSampleSpeed</string>
	<key>streamStyleBorder</key>
	<string>builderContainNumber</string>
</dict>
</plist>
