<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteResolverFrequency</key>
	<string>compositionalIconName</string>
	<key>factoryKindOpacity</key>
	<string>logarithmMethodTension</string>
	<key>heapBufferVelocity</key>
	<string>elasticSliderHue</string>
	<key>interpolationOrMethod</key>
	<string>completerObserverTint</string>
	<key>listviewFormSkewy</key>
	<string>sophisticatedSpriteHead</string>
	<key>statefulNotificationCount</key>
	<string>hardReductionEdge</string>
	<key>temporarySizeCoord</key>
	<string>curveLayerStatus</string>
	<key>titleBeyondPrototype</key>
	<string>loopPhaseType</string>
	<key>viewSingletonContrast</key>
	<string>specifierShapeIndex</string>
</dict>
</plist>
