<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerJobLeft</key>
	<string>threadAndOperation</string>
	<key>interactorVarLocation</key>
	<string>largeActionOffset</string>
	<key>logWorkState</key>
	<string>semanticLayoutInterval</string>
	<key>nodeThanInterpreter</key>
	<string>declarativeDecorationAlignment</string>
	<key>resolverObserverScale</key>
	<string>subscriptionAmongTemple</string>
	<key>retainedReducerVelocity</key>
	<string>injectionVersusPrototype</string>
	<key>riverpodTypeSize</key>
	<string>specifyTaskType</string>
	<key>taskUntilType</key>
	<string>scrollableCubeHue</string>
</dict>
</plist>
