<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesNumberTransparency</key>
	<string>multiplicationAmongDecorator</string>
	<key>controllerVarScale</key>
	<string>cubitThroughPrototype</string>
	<key>fusedResolverSpeed</key>
	<string>localMapCoord</string>
	<key>listviewAndParameter</key>
	<string>easyHandlerSpacing</string>
	<key>presenterFunctionShade</key>
	<string>parallelAlignmentPadding</string>
	<key>storeVisitorTag</key>
	<string>entityAwaySingleton</string>
</dict>
</plist>
