<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalTextMomentum</key>
	<string>protocolValueFeedback</string>
	<key>groupOrAdapter</key>
	<string>customizedTweenInset</string>
	<key>ignoredBinaryInset</key>
	<string>cacheFrameworkMargin</string>
	<key>masterCycleOpacity</key>
	<string>intermediateGraphBound</string>
	<key>slashAroundPhase</key>
	<string>associatedDependencySpeed</string>
	<key>usageAroundProxy</key>
	<string>zoneNearScope</string>
</dict>
</plist>
