<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalExtensionRight</key>
	<string>actionContextContrast</string>
	<key>injectionOutsideTier</key>
	<string>durationStructureAcceleration</string>
	<key>mainSliderRotation</key>
	<string>variantParameterPadding</string>
	<key>navigationAboutBridge</key>
	<string>backwardSpotEdge</string>
	<key>pivotalBoxshadowTransparency</key>
	<string>frameActionTheme</string>
	<key>popupBridgeType</key>
	<string>variantViaFlyweight</string>
	<key>resolverAgainstVar</key>
	<string>particleSingletonAcceleration</string>
	<key>resourceFromJob</key>
	<string>loopStateInset</string>
</dict>
</plist>
