<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentSkinRight</key>
	<string>customDecorationSpacing</string>
	<key>layerMementoName</key>
	<string>positionOutsideCycle</string>
	<key>providerFlyweightLocation</key>
	<string>scrollLikeCycle</string>
</dict>
</plist>
