<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveTierDuration</key>
	<string>cellPlatformHead</string>
	<key>dimensionAboutTier</key>
	<string>stackContainWork</string>
	<key>discardedStorageRight</key>
	<string>hyperbolicButtonBorder</string>
	<key>queueSystemAcceleration</key>
	<string>overlayViaChain</string>
	<key>signAlongInterpreter</key>
	<string>globalTabbarOffset</string>
</dict>
</plist>
