<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousFactoryInset</key>
	<string>bitrateInsideFramework</string>
	<key>blocFacadeSpacing</key>
	<string>vectorFunctionAcceleration</string>
	<key>featureDecoratorDelay</key>
	<string>decorationByFlyweight</string>
	<key>memberFromStructure</key>
	<string>mobileCoordinatorTension</string>
</dict>
</plist>
