<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturePatternOrientation</key>
	<string>desktopResourceScale</string>
	<key>giftPerFramework</key>
	<string>chartInVariable</string>
	<key>momentumThroughPattern</key>
	<string>zoneValueAcceleration</string>
</dict>
</plist>
