<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instructionWorkBottom</key>
	<string>chapterTypeRotation</string>
	<key>menuWithoutVariable</key>
	<string>easyTransformerTag</string>
	<key>modelPlatformInset</key>
	<string>sceneDespiteEnvironment</string>
	<key>sizeFrameworkOrigin</key>
	<string>composableVectorState</string>
</dict>
</plist>
