<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationProxyTension</key>
	<string>alignmentStageDepth</string>
	<key>fixedCoordinatorVisible</key>
	<string>intensityAlongAdapter</string>
	<key>gridviewLayerVisible</key>
	<string>listenerVisitorDistance</string>
	<key>lostGiftFrequency</key>
	<string>desktopPaddingLocation</string>
	<key>relationalLayoutVisible</key>
	<string>modulusFromTemple</string>
	<key>scrollBufferBound</key>
	<string>requestAdapterOrientation</string>
	<key>tweenStateName</key>
	<string>imperativeProviderType</string>
	<key>vectorEnvironmentBrightness</key>
	<string>durationWithFunction</string>
</dict>
</plist>
