<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCommandMargin</key>
	<string>capacitiesShapeCount</string>
	<key>marginThanFacade</key>
	<string>resizableBlocTop</string>
	<key>overlayLayerBehavior</key>
	<string>momentumUntilScope</string>
	<key>pointUntilForm</key>
	<string>techniqueModeBorder</string>
	<key>uniqueGateKind</key>
	<string>concreteRouteInteraction</string>
</dict>
</plist>
