<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedIntegerName</key>
	<string>numericalEffectName</string>
	<key>dependencyAroundStage</key>
	<string>utilAdapterVelocity</string>
	<key>equipmentContextScale</key>
	<string>positionedIncludeBuffer</string>
	<key>greatCommandTheme</key>
	<string>builderActionRight</string>
	<key>interactiveLoopFormat</key>
	<string>sliderBesideEnvironment</string>
	<key>navigatorAdapterKind</key>
	<string>resultInOperation</string>
	<key>prevCertificateStatus</key>
	<string>momentumOperationDelay</string>
	<key>previewAndDecorator</key>
	<string>interactiveSubpixelScale</string>
	<key>protocolFlyweightTension</key>
	<string>prevBulletResponse</string>
</dict>
</plist>
