<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGraphSkewy</key>
	<string>matrixShapeDepth</string>
	<key>allocatorContainChain</key>
	<string>unsortedMetadataTop</string>
	<key>builderInterpreterStatus</key>
	<string>specifierTempleState</string>
	<key>captionAlongMediator</key>
	<string>offsetCycleTheme</string>
	<key>channelsUntilTask</key>
	<string>tabbarNumberInset</string>
	<key>clipperMediatorEdge</key>
	<string>arithmeticFactorySaturation</string>
	<key>currentAspectratioTheme</key>
	<string>effectInKind</string>
	<key>sinkWorkAcceleration</key>
	<string>roleFlyweightFormat</string>
	<key>stackSystemVisibility</key>
	<string>bitrateVersusPlatform</string>
</dict>
</plist>
