<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameAroundAction</key>
	<string>borderMementoCenter</string>
	<key>momentumThanVariable</key>
	<string>serviceSingletonAcceleration</string>
	<key>queryParamTransparency</key>
	<string>transitionThanChain</string>
	<key>requestScopeVisibility</key>
	<string>backwardOverlayName</string>
	<key>resolverThanActivity</key>
	<string>consultativeReferenceResponse</string>
	<key>sizeMediatorType</key>
	<string>dedicatedErrorLeft</string>
	<key>textfieldWorkState</key>
	<string>priorRemainderStyle</string>
	<key>textureTempleBottom</key>
	<string>projectionOfBuffer</string>
	<key>threadVariableAcceleration</key>
	<string>notifierAlongForm</string>
	<key>usageActionSpeed</key>
	<string>seamlessAnimationTheme</string>
</dict>
</plist>
