<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletStyleTension</key>
	<string>publicExtensionFrequency</string>
	<key>completerStructurePosition</key>
	<string>projectInterpreterDelay</string>
	<key>consultativeAnimationPadding</key>
	<string>composableStatefulSpeed</string>
	<key>greatCoordinatorVisible</key>
	<string>equalizationContainScope</string>
	<key>modalContextSaturation</key>
	<string>modalKindTheme</string>
	<key>projectNearParam</key>
	<string>gridAboutJob</string>
	<key>sineInterpreterHue</key>
	<string>spineAwayStage</string>
	<key>slashSinceVar</key>
	<string>optionSinceVariable</string>
	<key>unaryOutsideMemento</key>
	<string>eagerLoopRate</string>
</dict>
</plist>
