<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCupertinoHue</key>
	<string>backwardSymbolBottom</string>
	<key>intensityCommandKind</key>
	<string>stackOutsideChain</string>
	<key>signFunctionRate</key>
	<string>accessoryStateBrightness</string>
	<key>storePhaseSpeed</key>
	<string>smartAllocatorSkewx</string>
</dict>
</plist>
