<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTaskBorder</key>
	<string>elasticPlateIndex</string>
	<key>basicResourcePadding</key>
	<string>themeSinceOperation</string>
	<key>cellByStage</key>
	<string>scaleVariableTransparency</string>
	<key>directlyInjectionHue</key>
	<string>euclideanSwitchBound</string>
	<key>dynamicNavigatorInset</key>
	<string>concurrentDecorationKind</string>
	<key>handlerAlongState</key>
	<string>newestTransitionVelocity</string>
	<key>playbackVariableSkewx</key>
	<string>reducerThroughVariable</string>
	<key>prevPaddingResponse</key>
	<string>grayscaleOutsideForm</string>
	<key>screenCompositeTop</key>
	<string>injectionTempleMargin</string>
</dict>
</plist>
