<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandStructureIndex</key>
	<string>modalMethodDirection</string>
	<key>compositionBeyondContext</key>
	<string>resultTierTint</string>
	<key>futurePrototypeHead</key>
	<string>usecaseSinceFramework</string>
	<key>grainAdapterFlags</key>
	<string>menuCompositeVisible</string>
	<key>mediumAllocatorVisible</key>
	<string>tappableCapsuleFlags</string>
	<key>scaffoldThanPhase</key>
	<string>tickerKindVelocity</string>
	<key>unsortedLogarithmBrightness</key>
	<string>spineObserverStyle</string>
</dict>
</plist>
