<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentAlongVisitor</key>
	<string>spriteValueCount</string>
	<key>globalAnchorHue</key>
	<string>baseOrStyle</string>
	<key>handlerAlongWork</key>
	<string>capacitiesEnvironmentRight</string>
	<key>intensityAtState</key>
	<string>tappableBitrateCoord</string>
	<key>listenerLevelFeedback</key>
	<string>blocLikeMediator</string>
	<key>publicMediaBottom</key>
	<string>concurrentAxisDelay</string>
	<key>singletonOutsideMemento</key>
	<string>loopPerStage</string>
</dict>
</plist>
