<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeAnimationFrequency</key>
	<string>textActionSkewx</string>
	<key>fragmentSingletonSpacing</key>
	<string>timerObserverPadding</string>
	<key>storeFlyweightFrequency</key>
	<string>tableBufferRight</string>
	<key>uniqueProgressbarPressure</key>
	<string>uniformBatchMomentum</string>
</dict>
</plist>
