<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedPromiseSkewy</key>
	<string>accessibleStackDuration</string>
	<key>grainNearPrototype</key>
	<string>cartesianConfigurationSkewx</string>
	<key>multiSegueDistance</key>
	<string>activatedTickerHue</string>
	<key>sceneDespiteFacade</key>
	<string>decorationDuringMode</string>
</dict>
</plist>
