<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDelegateScale</key>
	<string>referenceThroughMediator</string>
	<key>channelAroundTask</key>
	<string>providerThroughParameter</string>
	<key>cubeLikeMemento</key>
	<string>constraintAwayFunction</string>
	<key>graphModeVelocity</key>
	<string>criticalRouterVisible</string>
	<key>isolateFacadeDelay</key>
	<string>controllerIncludeAdapter</string>
	<key>loopActivityFlags</key>
	<string>equalizationTempleDuration</string>
	<key>loopShapeAcceleration</key>
	<string>sortedTextSpacing</string>
	<key>multiCubitRate</key>
	<string>delegatePerPhase</string>
	<key>textureValueColor</key>
	<string>keyPriorityOffset</string>
</dict>
</plist>
