<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarEnvironmentLeft</key>
	<string>exponentThanPattern</string>
	<key>commandModeEdge</key>
	<string>activityTypePressure</string>
	<key>coordinatorWithoutMode</key>
	<string>alignmentDuringVar</string>
	<key>immutableSliderContrast</key>
	<string>sizeAgainstComposite</string>
	<key>intensitySinceNumber</key>
	<string>cardOutsideMediator</string>
	<key>newestBuilderSpeed</key>
	<string>relationalEffectOffset</string>
</dict>
</plist>
