<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyQueueCenter</key>
	<string>scrollWithoutBuffer</string>
	<key>disabledSkirtSaturation</key>
	<string>ephemeralManagerForce</string>
	<key>missionFormStatus</key>
	<string>displayableShaderShade</string>
	<key>rowUntilFramework</key>
	<string>pointInProcess</string>
	<key>sampleValuePressure</key>
	<string>logOrSingleton</string>
	<key>textThanPlatform</key>
	<string>getxNumberVelocity</string>
</dict>
</plist>
