<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheOrActivity</key>
	<string>explicitCaptionTop</string>
	<key>capacitiesInPrototype</key>
	<string>geometricVectorDepth</string>
	<key>directGiftBehavior</key>
	<string>sampleVariableVisibility</string>
	<key>offsetAtStage</key>
	<string>containerParamLeft</string>
	<key>pointFromTemple</key>
	<string>gradientAroundVisitor</string>
	<key>prismaticUtilSkewy</key>
	<string>assetBesideVisitor</string>
	<key>responsiveHashDepth</key>
	<string>utilNearTier</string>
	<key>spineBesideWork</key>
	<string>zoneStrategyAlignment</string>
	<key>streamStyleTension</key>
	<string>completerInterpreterDensity</string>
	<key>transitionDecoratorInteraction</key>
	<string>dimensionDespiteStructure</string>
</dict>
</plist>
