<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardReferenceOpacity</key>
	<string>zoneSingletonInset</string>
	<key>blocExceptStrategy</key>
	<string>associatedLossAlignment</string>
	<key>callbackContainFlyweight</key>
	<string>completerNearAction</string>
	<key>completionFunctionType</key>
	<string>radiusWithoutProxy</string>
	<key>directMonsterRate</key>
	<string>buttonIncludeParameter</string>
	<key>layoutLevelRight</key>
	<string>displayableTablePosition</string>
	<key>observerBufferSaturation</key>
	<string>zoneOperationSpacing</string>
	<key>popupInsidePlatform</key>
	<string>hashOutsideTier</string>
	<key>resourceVersusMethod</key>
	<string>tensorCoordinatorSaturation</string>
	<key>typicalRepositorySpeed</key>
	<string>particleUntilProxy</string>
</dict>
</plist>
