<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitTierOrigin</key>
	<string>hardErrorRotation</string>
	<key>cacheMediatorFeedback</key>
	<string>futureTierBehavior</string>
	<key>instructionIncludeBuffer</key>
	<string>constExponentSkewx</string>
	<key>layoutFacadeTag</key>
	<string>groupStrategySkewy</string>
	<key>mobileNibMomentum</key>
	<string>compositionDuringCommand</string>
	<key>skinWithoutPattern</key>
	<string>capacitiesStageTag</string>
</dict>
</plist>
