<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorViaStage</key>
	<string>titleObserverRotation</string>
	<key>cubitAdapterOpacity</key>
	<string>particlePrototypeDuration</string>
	<key>customDescriptionSize</key>
	<string>alertLikeInterpreter</string>
	<key>diversifiedTitleRate</key>
	<string>pinchableStorageAcceleration</string>
	<key>frameTaskInteraction</key>
	<string>resizableRadiusLocation</string>
	<key>observerPlatformDistance</key>
	<string>firstPreviewBrightness</string>
	<key>pageviewCompositeResponse</key>
	<string>graphicVariableTop</string>
	<key>radiusDuringValue</key>
	<string>pivotalIntensityCenter</string>
	<key>touchUntilStyle</key>
	<string>handlerShapePressure</string>
	<key>widgetAtFacade</key>
	<string>granularProviderDepth</string>
</dict>
</plist>
