<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaStyleDensity</key>
	<string>apertureDuringLevel</string>
	<key>animatedcontainerLikeJob</key>
	<string>cycleCycleForce</string>
	<key>constraintLevelMode</key>
	<string>rapidViewBound</string>
	<key>popupPrototypeInset</key>
	<string>baselineAndLayer</string>
	<key>projectionDuringFlyweight</key>
	<string>durationExceptContext</string>
	<key>semanticSkinTop</key>
	<string>responseInProxy</string>
	<key>taskValueInterval</key>
	<string>animatedcontainerPhaseRotation</string>
	<key>timerWithPattern</key>
	<string>hyperbolicOffsetLeft</string>
</dict>
</plist>
