<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionSystemOrientation</key>
	<string>bufferPatternHue</string>
	<key>dropdownbuttonWithoutTask</key>
	<string>sharedDurationCenter</string>
	<key>movementAndVar</key>
	<string>tabviewByWork</string>
	<key>zoneProxyShape</key>
	<string>slashWithFlyweight</string>
</dict>
</plist>
