<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentNumberOpacity</key>
	<string>timerAmongLayer</string>
	<key>allocatorCompositeTransparency</key>
	<string>monsterInPattern</string>
	<key>commandAmongObserver</key>
	<string>arithmeticReducerPosition</string>
	<key>difficultModulusDelay</key>
	<string>invisibleHistogramOpacity</string>
	<key>largeRouteBorder</key>
	<string>statelessNotifierSaturation</string>
	<key>mobxLevelTheme</key>
	<string>utilContextBehavior</string>
	<key>petContainForm</key>
	<string>buttonThroughAdapter</string>
	<key>viewParamPressure</key>
	<string>integerAndVariable</string>
</dict>
</plist>
