<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentForParam</key>
	<string>skirtAndAdapter</string>
	<key>draggableCurveForce</key>
	<string>mediocreChannelCoord</string>
	<key>interfaceAndBuffer</key>
	<string>builderDecoratorAlignment</string>
	<key>lastChannelCenter</key>
	<string>providerAtBridge</string>
	<key>rapidDecorationHue</key>
	<string>petTaskOpacity</string>
	<key>reactiveAxisState</key>
	<string>batchOrFunction</string>
	<key>robustGesturedetectorOrigin</key>
	<string>controllerAlongObserver</string>
	<key>tickerByState</key>
	<string>descriptorThanCycle</string>
</dict>
</plist>
