<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAroundKind</key>
	<string>cacheKindHue</string>
	<key>desktopRepositorySize</key>
	<string>exceptionAtInterpreter</string>
	<key>logThanValue</key>
	<string>arithmeticCharacterLocation</string>
	<key>lostInjectionIndex</key>
	<string>activeConstraintAppearance</string>
	<key>notificationFacadeAlignment</key>
	<string>substantialResultMode</string>
	<key>permissiveCurveAcceleration</key>
	<string>stepOutsideBuffer</string>
	<key>precisionStageRate</key>
	<string>persistentMatrixVisibility</string>
	<key>resourceFlyweightType</key>
	<string>controllerUntilObserver</string>
	<key>semanticTitlePosition</key>
	<string>resilientSizeBrightness</string>
	<key>singletonVariableTransparency</key>
	<string>checklistNearType</string>
</dict>
</plist>
