<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAlongTier</key>
	<string>requestContainVisitor</string>
	<key>checklistOrForm</key>
	<string>spriteCommandType</string>
	<key>errorAndStyle</key>
	<string>reductionLayerValidation</string>
	<key>inheritedOffsetIndex</key>
	<string>normalVectorRotation</string>
	<key>momentumExceptCommand</key>
	<string>completerLayerShade</string>
	<key>progressbarIncludeStrategy</key>
	<string>navigatorBridgeTail</string>
	<key>symmetricIntensityTag</key>
	<string>decorationAlongEnvironment</string>
	<key>unactivatedAnimationIndex</key>
	<string>permanentChannelKind</string>
</dict>
</plist>
