<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerSystemMomentum</key>
	<string>interactiveStatelessTag</string>
	<key>asyncUntilMediator</key>
	<string>newestTransformerAppearance</string>
	<key>bufferFormStatus</key>
	<string>opaqueBehaviorInset</string>
	<key>exponentUntilVar</key>
	<string>descriptionStatePosition</string>
	<key>functionalReferenceShade</key>
	<string>lazyDelegateIndex</string>
	<key>modelInsideScope</key>
	<string>interactorTaskShape</string>
	<key>providerContainProxy</key>
	<string>subsequentLayerDensity</string>
	<key>typicalCubeHue</key>
	<string>customizedAnimationSpacing</string>
</dict>
</plist>
