<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTransitionFormat</key>
	<string>bulletNumberTag</string>
	<key>denseObserverLocation</key>
	<string>progressbarLikeMediator</string>
	<key>movementPatternTop</key>
	<string>handlerFacadeCount</string>
	<key>popupMethodEdge</key>
	<string>certificateInPattern</string>
	<key>resizableTextBottom</key>
	<string>capacitiesNearAction</string>
	<key>topicWorkVisibility</key>
	<string>transformerValueDensity</string>
	<key>usedReducerDepth</key>
	<string>easySpotOpacity</string>
</dict>
</plist>
