<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAdapterFrequency</key>
	<string>variantBesideSystem</string>
	<key>bufferExceptWork</key>
	<string>capacitiesForState</string>
	<key>cellVariableShape</key>
	<string>gramViaMemento</string>
	<key>graphicCompositeBorder</key>
	<string>queueFormHead</string>
	<key>permissiveBlocName</key>
	<string>compositionalTopicLocation</string>
	<key>prismaticRoleTint</key>
	<string>alignmentCycleRate</string>
	<key>resourceAlongObserver</key>
	<string>ignoredTweenCoord</string>
	<key>usecaseSingletonOffset</key>
	<string>spotVersusTemple</string>
</dict>
</plist>
