<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartCompositeBehavior</key>
	<string>collectionInterpreterDepth</string>
	<key>commonCompositionValidation</key>
	<string>textPatternOpacity</string>
	<key>greatProjectionOrientation</key>
	<string>deferredDelegateAppearance</string>
	<key>injectionLayerContrast</key>
	<string>cellUntilTask</string>
	<key>positionedPerChain</key>
	<string>screenForStructure</string>
	<key>primaryOffsetSkewx</key>
	<string>particleFrameworkStyle</string>
	<key>resolverStageShade</key>
	<string>equalizationFunctionEdge</string>
	<key>rowOperationFormat</key>
	<string>specifierOfMethod</string>
	<key>signContextLeft</key>
	<string>gridContainProcess</string>
	<key>threadFrameworkVisible</key>
	<string>futureOfSingleton</string>
</dict>
</plist>
