<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAmongChain</key>
	<string>customGrainDuration</string>
	<key>buttonValueBottom</key>
	<string>comprehensiveViewAlignment</string>
	<key>firstExceptionAcceleration</key>
	<string>globalCaptionCenter</string>
	<key>gesturedetectorOrStage</key>
	<string>arithmeticOrParameter</string>
	<key>scaleStateStyle</key>
	<string>typicalErrorTheme</string>
	<key>shaderPatternDepth</key>
	<string>tabbarSinceCycle</string>
	<key>spriteActivityDistance</key>
	<string>themeNumberVelocity</string>
	<key>uniformPlateShape</key>
	<string>deferredBatchLeft</string>
</dict>
</plist>
