<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheWithNumber</key>
	<string>hierarchicalNavigationInset</string>
	<key>constraintParamCount</key>
	<string>routerVariableMode</string>
	<key>dropdownbuttonCompositeOrigin</key>
	<string>resourceViaOperation</string>
	<key>euclideanBoxOpacity</key>
	<string>standaloneCommandIndex</string>
	<key>reusableCallbackTension</key>
	<string>concurrentLoopMode</string>
	<key>robustRowOffset</key>
	<string>assetCommandBrightness</string>
	<key>rowCommandTop</key>
	<string>cartesianCanvasFormat</string>
</dict>
</plist>
