<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyParamRight</key>
	<string>isolateIncludeMode</string>
	<key>parallelDependencyOrigin</key>
	<string>permanentRowTransparency</string>
	<key>sophisticatedEventPadding</key>
	<string>particleSinceTask</string>
	<key>statelessRowDistance</key>
	<string>nibContextBrightness</string>
	<key>themeLevelSize</key>
	<string>decorationLikePrototype</string>
	<key>transformerCommandVisible</key>
	<string>intensityFormKind</string>
</dict>
</plist>
