<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisCycleDuration</key>
	<string>metadataByState</string>
	<key>descriptionDuringSystem</key>
	<string>smallViewMargin</string>
	<key>heroInsideAdapter</key>
	<string>immediateMonsterInterval</string>
	<key>positionStateHue</key>
	<string>resourceMethodBehavior</string>
	<key>presenterThanBuffer</key>
	<string>criticalBufferCount</string>
	<key>routerAgainstTemple</key>
	<string>mobilePhaseState</string>
	<key>sensorDecoratorType</key>
	<string>canvasUntilParameter</string>
	<key>toolChainHue</key>
	<string>decorationUntilStage</string>
</dict>
</plist>
