<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonUntilValue</key>
	<string>persistentTouchTheme</string>
	<key>dependencyEnvironmentSpacing</key>
	<string>anchorActivitySpeed</string>
	<key>easyTextTop</key>
	<string>granularErrorTag</string>
	<key>fusedDelegateFrequency</key>
	<string>nodeTempleScale</string>
	<key>futureViaValue</key>
	<string>oldGradientTension</string>
	<key>localizationThroughContext</key>
	<string>ephemeralRepositoryHue</string>
	<key>mediaContextCoord</key>
	<string>heroActionHead</string>
	<key>persistentConsumerVisible</key>
	<string>certificateAwayLayer</string>
	<key>presenterVisitorTransparency</key>
	<string>nativePresenterResponse</string>
	<key>unactivatedCurveInset</key>
	<string>normAdapterOffset</string>
</dict>
</plist>
