<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constTangentStatus</key>
	<string>vectorStructurePadding</string>
	<key>controllerValueColor</key>
	<string>mutableMomentumName</string>
	<key>dynamicDocumentPosition</key>
	<string>positionTempleLocation</string>
	<key>loopMethodDensity</key>
	<string>customEqualizationOrientation</string>
	<key>musicAroundPlatform</key>
	<string>paddingAgainstKind</string>
	<key>oldChartOrientation</key>
	<string>sophisticatedOffsetTop</string>
	<key>queryProxyPadding</key>
	<string>extensionAtType</string>
</dict>
</plist>
