<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionNodeColor</key>
	<string>radiusMediatorVisible</string>
	<key>delegateExceptTemple</key>
	<string>iconAsBridge</string>
	<key>directlyCoordinatorCoord</key>
	<string>statefulCupertinoRate</string>
	<key>easyActionLeft</key>
	<string>directlyLocalizationDensity</string>
	<key>imperativeExceptionPadding</key>
	<string>largeCardPadding</string>
	<key>memberAboutPattern</key>
	<string>bufferBufferRate</string>
</dict>
</plist>
