<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAroundSystem</key>
	<string>stackThroughObserver</string>
	<key>boxWithForm</key>
	<string>previewIncludeScope</string>
	<key>concurrentBlocTail</key>
	<string>queryBeyondJob</string>
	<key>durationFromLayer</key>
	<string>modalVarInset</string>
	<key>iconAgainstCommand</key>
	<string>deferredNotifierValidation</string>
	<key>largeEqualizationHead</key>
	<string>intuitiveMobileLocation</string>
	<key>tensorSpineCenter</key>
	<string>themeFunctionVisible</string>
</dict>
</plist>
