<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystOutsideActivity</key>
	<string>giftVisitorEdge</string>
	<key>enabledTechniqueInset</key>
	<string>sizeMediatorShape</string>
	<key>reusableCurveOrientation</key>
	<string>gateInProxy</string>
	<key>segueCompositeSkewx</key>
	<string>routerMediatorValidation</string>
</dict>
</plist>
