<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>giftParameterBottom</key>
	<string>liteTextDelay</string>
	<key>immediateProviderResponse</key>
	<string>behaviorShapeBehavior</string>
	<key>interactorMediatorSpeed</key>
	<string>interfaceCommandSaturation</string>
	<key>nibWithoutActivity</key>
	<string>previewMethodSkewy</string>
	<key>promiseNearPattern</key>
	<string>offsetContainMediator</string>
	<key>sceneWithLayer</key>
	<string>topicTierAlignment</string>
</dict>
</plist>
