<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetTierType</key>
	<string>blocMediatorShade</string>
	<key>borderDespiteOperation</key>
	<string>layoutContextSaturation</string>
	<key>dropdownbuttonDespiteForm</key>
	<string>eagerHandlerVisibility</string>
	<key>fragmentTaskState</key>
	<string>pointOperationOffset</string>
	<key>mediocreTransitionTag</key>
	<string>descriptionObserverPressure</string>
	<key>offsetViaTemple</key>
	<string>keyAspectTension</string>
	<key>requestAboutWork</key>
	<string>diffableMediaDuration</string>
</dict>
</plist>
