<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSensorVelocity</key>
	<string>interactorEnvironmentResponse</string>
	<key>buttonTempleResponse</key>
	<string>modelPrototypeEdge</string>
	<key>desktopCompletionMode</key>
	<string>arithmeticReferenceValidation</string>
	<key>factoryFromInterpreter</key>
	<string>rectInValue</string>
	<key>fixedCompleterPadding</key>
	<string>asyncVariableVisible</string>
	<key>intensityWithoutOperation</key>
	<string>semanticsCompositeSpeed</string>
	<key>priorityLikeParam</key>
	<string>stateStructureFrequency</string>
	<key>robustCertificateRight</key>
	<string>repositoryAwayStyle</string>
	<key>routerStructureTension</key>
	<string>subpixelTierPadding</string>
	<key>tensorOptimizerSize</key>
	<string>navigationViaFramework</string>
</dict>
</plist>
