<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedChannelMargin</key>
	<string>allocatorParamOrientation</string>
	<key>baselineVisitorBound</key>
	<string>desktopTextfieldInset</string>
	<key>builderAlongTier</key>
	<string>unsortedHeroStatus</string>
	<key>capacitiesStageKind</key>
	<string>specifyViewBound</string>
	<key>controllerFunctionMomentum</key>
	<string>synchronousConsumerState</string>
	<key>dialogsNearTask</key>
	<string>publicAnimatedcontainerMargin</string>
	<key>finalSampleSize</key>
	<string>inheritedReductionLeft</string>
	<key>permanentContainerScale</key>
	<string>permissiveEffectSkewx</string>
	<key>resourceViaSystem</key>
	<string>publicTransformerLeft</string>
	<key>widgetThanComposite</key>
	<string>navigatorWithoutStructure</string>
</dict>
</plist>
