<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleAppbarType</key>
	<string>commonMediaSpeed</string>
	<key>activatedPopupResponse</key>
	<string>specifierContextOrigin</string>
	<key>activityAndDecorator</key>
	<string>entityWithNumber</string>
	<key>singletonInterpreterVelocity</key>
	<string>storageVariableForce</string>
	<key>utilThroughParameter</key>
	<string>semanticFramePadding</string>
</dict>
</plist>
